@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/*초기화부분*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body html {
  line-height: 1;
  height: 100%;
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*초기화부분*/
.div_left {text-align: left;}
.div_center {text-align: center;}
.div_right {text-align: right;}

.div_red{background-color: red;}
.div_bule{background-color: #7cb2ff;}
.div_yallow{background-color: #fffd65 ;}
.div_gray{background-color:grey;}

.font_red{color: red;}
.font_bule{color: #7cb2ff;}
.font_realbule{color: blue;}
.font_yallow{color: #fffd65 ;}
.font_gray{color:grey;}

#container {
  width :100%;
  position: relative;

}
#header{
  width :100%;
  height: 100px;
  border:1px solid black;

}
#header .log{
  width :300px;
  height: 50px;
  top:25px;
  border:1px solid red;
  position: absolute;

}
#header .log_t {
  width:300px;
  border: 1px solid seagreen;

}
#header .log_t td {
  text-align: center;
}
#header .main_menu {
  position: absolute;
  left: 350px;
  top:25px;

}
#header .log_t2 td {
  text-align: center;
}
#navi_width ul {
  z-index: 9999;
  list-style: none;
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
}
#navi_width ul li a{ text-decoration: none;display:block;width: 150px;height: 50px;line-height: 50px;text-align: center; font-size: 18px;font-weight: bold; font-family: "Trebuchet MS";}
#navi_width ul li {width:150px;background-color: #B5B2FF;}
#navi_width ul li:hover{background-color: #FFE08C;}
#navi_width .one{float: left;}
#navi_width .one >li{
  float: left;
}
#navi_width .one ul {
  display: none;
  position: absolute;
}
#navi_width .one li:hover > ul{display: block;}
#sub_menu{
  margin: 20px;
}
#sub_menu ul {
  z-index: 1;
  list-style: none;
  margin: 0px;
  padding: 0px;
  position: relative;
}
#sub_menu li{
  float: left;
  width:150px;
  border-right: 2px solid #fff;
  background-color: #B5B2FF;
}
#sub_menu ul li a{text-decoration: none;display:block;width: 150px;height: 40px;line-height: 40px;text-align: center; font-size: 18px;font-weight: bold; font-family: "Trebuchet MS";}
.sub_content{
  padding-top: 40px;
}
#sidebar {
  width:300px;
  height: 800px;
  float: left;
  border:1px solid red;
}
.menu {
  padding-top : 20px ;
}
#content {
  margin-left: 300px;
  height: 100%;

  border:1px solid blue;
  padding-bottom: 20px;
}
#clr{clear:both;}

#footer {
  position: absolute;
  width: 100%;
  height: 100px;

  border:1px solid green;


}

#login {
  background : #FFE08C;
  width : 100%;

}
#login .content {
  width:20%;
  margin: 0 auto;

}
.wrap {
    min-height: 742px;

}
.wrap .up{
    margin: 20px;
}
.wrap .add{
  margin: 20px;
}
#basic{
  margin: 20px;
  min-height: 722px;

}
#basic .title{
  padding: 30px;
  width: 1200px;
  text-align: center;

}
#basic .bottom{
  padding: 30px;
  width: 1200px;
  text-align: center;
}
#basic .basic_config {
  width: 1200px;
}
#basic .basic_config td {
  padding: 10px;
  height: 20px;
  border: 1px solid #000;
}
#basic .basic_config .t_box{
  width: 500px;
  height: 30px;
}

#basic .basic_config .a_box{
  width: 740px;
  height: 30px;
}
#basic .basic_config .d_box{
  width: 120px;
  height: 20px;
}
.overlay{ z-index: 1000;display:none; position:fixed; top:0px; left:0px; width:100%; height:100%; opacity:0.5; background-color: black;}
#site_in{
  z-index: 9000;
  display:none;
  position: relative;

}
#site_in .site_in{

  padding: 20px;
  width:300px;
  height: 100px;
  background-color: white;
  position: absolute;

}
.site_list{
  margin: 10px;
  min-height: 760px;

}
.site_list .site_list_table{
  margin: 10px;
  padding: 10px;
  width: 1200px;

}
.site_list .site_list_table .title{
  padding: 5px;
  height: 10px;
  border: 1px solid black;
}
#site_in .site_in p{
  padding: 10px;
  text-align: center;
}
#board_in{
  z-index: 9000;
  display:none;
  position: relative;

}
#board_in .board_in{

  padding: 20px;
  width:300px;
  height: 100px;
  background-color: white;
  position: absolute;

}
.board_list{
  margin: 10px;
  min-height: 760px;

}
.board_list .board_list_table{
  margin: 10px;
  padding: 10px;
  width: 1200px;

}
.board_list .board_list_table .title{
  padding: 5px;
  height: 10px;
  border: 1px solid black;
}
#board_in .board_in p{
  padding: 10px;
  text-align: center;
}
.company{
  width: 1200px;
  margin : 10px;

}
.company .company_t{
  width: 1100px;
}
.company .company_t textarea{
  width: 800px;
  height: 300px;
}

.company .company_t .title{
   width: 200px;
   height: 40px;
   vertical-align: middle;
 }
.company p{
  margin-top: 20px;
  width: 1200px;
  height: 40px;
  vertical-align: middle;
  text-align: center;
}
.air_company{
  margin-left: 20px;
  margin-top: 20px;
  width: 100%;
  min-height: 700px;
}
.air_company table{
  width: 1200px;
}
.air_company td{
  height: 30px;
  vertical-align: top;
}
.rent_company{
  margin-left: 20px;
  margin-top: 20px;
  width: 100%;
  min-height: 700px;
}
.rent_company table{
  width: 1200px;
}
.rent_company td{
  height: 30px;
  vertical-align: top;
}
.rent_amount{
  margin-left: 20px;
  margin-top: 20px;
  width: 100%;
  min-height: 700px;
}
.rent_amount table{
  width: 1200px;
}
.rent_amount td{
  text-align: center;
  height: 55px;
  vertical-align: top;
}
.rent_season{
  margin-left: 20px;
  margin-top: 20px;
  width: 100%;
  min-height: 700px;
}
.rent_season{
    margin-left: 20px;
    margin-top: 20px;
    width: 100%;
    min-height: 700px;
}
.season {margin-top: 20px;width: 1200px; }
.season div{float:left;width: 400px;margin-bottom: 10px;border: 1px solid grey; height: 30px;}
.rent_com_sel{margin-left: 20px;  margin-top: 20px;width: 1200px;}
.rent_season{

}
.rent_season table{
  width: 1200px;
}
.rent_season td{

  height: 55px;
  vertical-align: top;
}

.tel_list{margin-left: 20px;margin-top: 20px;width: 100%;min-height: 700px;}
.tel_list table{ width: 1200px;}
.tel_list .title{text-align:center;height: 30px;vertical-align: top;width:100px;}
.tel_list .name{ text-align:center;height: 30px;vertical-align: top;width:300px;}
.tel_list .sort{ text-align:center;height: 30px;vertical-align: top;width:30px;}
.tel_list .sele{ text-align:center;height: 30px;vertical-align: top;width:30px;}
.tel_list .cont{text-align:center; height: 30px;vertical-align: top;}

.tel_detail{margin-left: 20px; margin-top: 20px; width: 1200px;min-height: 700px;}
.tel_detail #tel_detail table{width:1150px;}
.tel_detail #tel_detail td{height: 30px;width: 200px; vertical-align: middle;}
.tel_detail #tel_detail p{text-align: center;}
.tel_detail #tel_detail .images_add{ height: 200px;border: 2px solid #A8A8A8;margin-top: 30px;margin-bottom: 30px;padding-top: 10px; padding-bottom: 10px;overflow: auto;}
.tel_detail .photo{max-width: 150px;margin-left: 10px;margin-right: 10px;border: 0px;}
.tel_detail .photo_d{max-width: 150px;margin-left: 10px;margin-right: 10px;border: 0px; float: left;}



.room_list{
  margin-left: 20px;
  margin-top: 20px;
  width: 960px;
  min-height: 700px;
}
.room_list #room_list table{
  width: 800px;
}
.room_list #room_list td{
  text-align: center;
  height: 55px;
  vertical-align: top;
}
.tel_amount{
  margin-left: 20px;
  margin-top: 20px;
  width: 100%;
  min-height: 700px;
}
.tel_amount table{
  width: 1200px;
}
.tel_amount td{
  height: 55px;
  vertical-align: top;
}
.rent_car{margin-left: 20px;margin-top: 20px;width: 100%;min-height: 700px;}
.rent_car table{width: 1200px;}
.rent_car td{height: 30px;vertical-align: top;}
.rent_car .photo {width:50px;height: 30px;}

.car_up_tb {z-index: 9000; display:none; position: relative;}
.car_up_tb #car_up_tb{ padding: 50px; width:500px; height: 500px; top :-700px; left :300px; background-color: white; position: absolute;}
.car_up_tb #car_up_tb table{ width :600px;  height: 500px;}
.car_up_tb #car_up_tb p{ padding: 10px; text-align: center;}
.car_up_tb #car_up_tb .photo{width:150px;height: 100px;}

.cp_tb {z-index: 9000; display:none; position: relative; }
.cp_tb #cp_tb{ padding: 50px; width:700px; height: 200px; top :-700px; left :300px; background-color: white; position: absolute;overflow: auto;}
.cp_tb #cp_tb table{ width :550px;  }
.cp_tb #cp_tb p{ padding: 10px; text-align: center;}

.bus_company{
  margin-left: 20px;
  margin-top: 20px;
  width: 100%;
  min-height: 700px;
}
.bus_company table{
  width: 1200px;
}
.bus_company td{
  height: 30px;
  vertical-align: top;
}

.bus_amount{
  margin-left: 20px;
  margin-top: 20px;
  width: 100%;
  min-height: 700px;
}
.bus_amount table{
  width: 1200px;
}
.bus_amount td{

  height: 55px;
  vertical-align: top;
}
.bustour_list{
  margin-left: 20px;
  margin-top: 20px;
  width: 100%;
  min-height: 700px;
}
.bustour_list table{
  width: 1200px;
}
.bustour_list td{

  height: 55px;
  vertical-align: top;
}
.bustour_detail{margin-left: 20px; margin-top: 20px; width: 1200px;min-height: 700px;}
.bustour_detail #bustour_detail table{width:800px; height: 600px;}
.bustour_detail #bustour_detail td{height: 30px;width: 200px; vertical-align: middle;}
.bustour_detail #bustour_detail p{text-align: center;}
.bustour_detail #bustour_detail .images_add{ height: 200px;border: 2px solid #A8A8A8;margin-top: 30px;margin-bottom: 30px;padding-top: 10px; padding-bottom: 10px;overflow: auto;}
.bustour_detail .photo{max-width: 150px;margin-left: 10px;margin-right: 10px;border: 0px;}
.bustour_detail .photo_d{max-width: 150px;margin-left: 10px;margin-right: 10px;border: 0px; float: left;}


.golf_list{margin-left: 20px;margin-top: 20px;width: 100%;min-height: 700px;}
.golf_list table{ width: 1200px;}
.golf_list .title{text-align:center;height: 30px;vertical-align: top;width:100px;}
.golf_list .name{ text-align:center;height: 30px;vertical-align: top;width:300px;}
.golf_list .sort{ text-align:center;height: 30px;vertical-align: top;width:30px;}
.golf_list .sele{ text-align:center;height: 30px;vertical-align: top;width:30px;}
.golf_list .cont{text-align:center; height: 30px;vertical-align: top;}

.golf_detail{margin-left: 20px; margin-top: 20px; width: 1200px;min-height: 700px;}
.golf_detail #golf_detail table{width:1150px;}
.golf_detail #golf_detail td{height: 30px;width: 200px; vertical-align: middle;}
.golf_detail #golf_detail p{text-align: center;}
.golf_detail #golf_detail .images_add{ height: 200px;border: 2px solid #A8A8A8;margin-top: 30px;margin-bottom: 30px;padding-top: 10px; padding-bottom: 10px;overflow: auto;}
.golf_detail .photo{max-width: 150px;margin-left: 10px;margin-right: 10px;border: 0px;}
.golf_detail .photo_d{max-width: 150px;margin-left: 10px;margin-right: 10px;border: 0px; float: left;}

.hole_list{
  margin-left: 20px;
  margin-top: 20px;
  width: 960px;
  min-height: 700px;
}
.hole_list #hole_list table{
  width: 800px;
}
.hole_list #hole_list td{
  text-align: center;
  height: 55px;
  vertical-align: top;
}

.reservation_list{margin-left: 20px;margin-top: 20px;width: 100%;min-height: 700px;text-align: center;}
.reservation_list table{width: 1200px;}
.reservation_list td{height: 30px; vertical-align: top;}
.reservation_list .paging {width: 950px;}
.reservation_list .paging  td{height: 30px; vertical-align: middle;text-align: center;}

.reservation_report{margin-left: 20px;margin-top: 20px;width: 100%;min-height: 700px;}
.reservation_report table{width: 1200px;}
.reservation_report td{height: 30px; vertical-align: top;}
.reservation_report .search_frm {text-align: center;}
.reservation_report .title{text-align: center;}
.reservation_report .content{text-align: center;}

.reservation_report_card{margin-left: 20px;margin-top: 20px;width: 100%;min-height: 700px;}
.reservation_report_card table{width: 100%}
.reservation_report_card td{height: 30px; vertical-align: top;}
.reservation_report_card .search_frm {text-align: center;}
.reservation_report_card .title{text-align: center;}
.reservation_report_card .content{text-align: center;}
.reservation_report_card .airlist{width: 190px;text-align: center; font-size: 8px;}
.reservation_report_card .rentlist{width: 190px;text-align: center; font-size: 8px;}
.reservation_report_card .lodlist{width: 190px;text-align: center; font-size: 8px;}
.reservation_report_card .buslist{width: 190px;text-align: center; font-size: 8px;}
.reservation_report_card .bustourlist{width: 190px;text-align: center; font-size: 8px;}
.reservation_report_card .golflist{width: 190px;text-align: center; font-size: 8px;}

.reservation_ledger{margin-left: 5px;margin-top: 5px; width:1440px;height: 780px; position: relative;}
.reservation_ledger .btn{ text-align: center;}
.reservation_ledger .reservation_ledger_left{ width:625px;height: 700px; border:1px solid blue; float: left;overflow: auto;}
.reservation_ledger .reservation_ledger_left table{width: 605px;border:1px solid black;}
.reservation_ledger .reservation_ledger_left td{border:1px solid black;height: 30px; vertical-align: middle;}
.reservation_ledger .reservation_ledger_left .title{width:120px; vertical-align: middle;}
.reservation_ledger .reservation_ledger_right{ width:680px;height: 700px; border:1px solid black;  float: left;overflow: auto;}
.reservation_ledger .reservation_ledger_right table{width: 645px;border:1px solid black;}
.reservation_ledger .reservation_ledger_right td{border:1px solid black;height: 30px; vertical-align: middle;}
.reservation_ledger .reservation_ledger_right .title{width:120px; vertical-align: middle;}
.reservation_ledger .reservation_ledger_right .total{width:645px; vertical-align: middle;height: 50px;}

.reservation_ledger_top {margin-left: 5px;margin-top: 5px; width:1200px;height: 50px; position: relative;}
.reservation_ledger_top table{width:1440px; border: 1px solid red;}
.reservation_ledger_top td{height: 45px; vertical-align: middle;}
.reservation_ledger_top .title{padding-left:5px;width: 80px;font-size: 25px; font-weight: bold; font-family: "Trebuchet MS"; }
.reservation_ledger_top .cont{width: 100px; }
.reservation_ledger_top .indate{width: 100px; }
.reservation_ledger_top a{text-decoration: none;}

.reservation_content{
  margin-left: 20px;
  margin-top: 20px;
  width: 100%;
  min-height: 700px;
  text-align: center;
}
.reservation_content table{
  width: 1200px;
}
.reservation_content td{
  height: 30px;
  vertical-align: top;
}

.reserv_air_add {margin-left: 5px;margin-top: 5px; width:960px;height: 500px; position: relative;border:1px solid red;}
.reserv_air_add table{width: 960px;border:1px solid black;}
.reserv_air_add td{ border:1px solid black;height: 30px; vertical-align: middle;}
.reserv_air_add .title{padding-left:5px; width:100px;}
.reserv_air_add .cont{padding-left:5px;}


.air_schedule {margin-left: 5px;margin-top: 5px; width:960px;height: 500px; position: relative;border:1px solid red;}
.air_schedule table{width: 960px;border:1px solid black;}
.air_schedule td{border:1px solid black;height: 30px; vertical-align: middle;}

.reserv_rent_add {margin-left: 5px;margin-top: 5px; width:960px;height: 500px; position: relative;}
.reserv_rent_add table{width: 960px;border:1px solid black;}
.reserv_rent_add td{ border:1px solid black;height: 30px; vertical-align: middle;}
.reserv_rent_add .title{padding-left:5px; width:100px;}
.reserv_rent_add .cont{padding-left:5px;}


.reserv_equip_add {margin-left: 5px;margin-top: 5px; width:960px;height: 200px; position: relative;}
.reserv_equip_add table{width: 960px;border:1px solid black;}
.reserv_equip_add td{ border:1px solid black;height: 30px; vertical-align: middle;}
.reserv_equip_add .title{padding-left:5px; width:100px;}
.reserv_equip_add .cont{padding-left:5px;}

.rentcar_list {margin-left: 5px;margin-top: 5px; width:950px;height: 500px; position: relative;}
.rentcar_list table{width: 750px;border:1px solid black;}
.rentcar_list td{border:1px solid black;height: 30px; vertical-align: middle;}
.rentcar_list .rent_div{float:left;width:200px;height: 150px;  }
.rentcar_list .photo{width:200px;height: 150px; }
.rentcar_list .rent_price{width: 740px;height: 200px; border:1px solid black;}

.reserv_bus_list {margin-left: 5px;margin-top: 5px; width:950px;height: 500px; position: relative;}
.reserv_bus_list table{width: 950px;border:1px solid black;}
.reserv_bus_list td{border:1px solid black;height: 30px; vertical-align: middle;}
.reserv_bus_list .rent_div{float:left;width:200px;height: 150px;  }
.reserv_bus_list .photo{width:200px;height: 150px; }
.reserv_bus_list .rent_price{width: 740px;height: 200px; border:1px solid black;}

.reserv_amount_list {margin-left: 5px;margin-top: 5px; width:950px;height: 500px; position: relative;}
.reserv_amount_list table{width: 950px;border:1px solid black;}
.reserv_amount_list td{border:1px solid black;height: 30px; vertical-align: middle;text-align: center;}
.reserv_amount_list .rent_div{float:left;width:200px;height: 150px;  }
.reserv_amount_list .photo{width:200px;height: 150px; }
.reserv_amount_list .rent_price{width: 740px;height: 200px; border:1px solid black;}

.reserv_content {margin-left: 5px;margin-top: 5px; width:950px;height: 500px; position: relative;}
.reserv_content table{width: 950px;border:1px solid black;}
.reserv_content td{border:1px solid black;height: 30px; vertical-align: middle;text-align: center;}
.reserv_content a{text-decoration: none;}



.board_list {margin-left: 5px;margin-top: 5px; width:950px;height: 500px; position: relative;}
.board_list .list{width: 950px;border:1px solid black;}
.board_list .list .sel{width: 30px;}
.board_list .list .no{width: 40px;}
.board_list .list .subject{width: 200px;}
.board_list .list .author{width: 80px;}
.board_list .list .hit{width: 40px;}
.board_list .list .date{width: 80px;}
.board_list .list  td{border:1px solid black;height: 30px; vertical-align: middle;text-align: center;}
.board_list .board_paging {width: 950px;}
.board_list .board_paging  td{height: 30px; vertical-align: middle;text-align: center;}
.board_list .board_bottom {width: 950px;}
.board_list .board_bottom .mod{text-align: left;}
.board_list .board_bottom .write{text-align: right;}
.board_list .board_bottom  td{height: 30px; vertical-align: middle;text-align: center;}
.board_list .board_top {width: 950px;}
.board_list .board_top  td{height: 30px; vertical-align: middle;text-align: right;}

.board_write {margin-left: 5px;margin-top: 5px; width:950px;height: 770px; position: relative;}
.board_write table{width: 950px;border:1px solid black; height: 670px;}
.board_write .title{width: 150px;text-align: center;}
.board_write .author{width:100px;}
.board_write .subject{width:400px;}
.board_write .passwd{width:50px;}
.board_write .s_code{width:80px;}
.board_write td{ padding-left: 10px;border:1px solid black;height: 30px; vertical-align: middle;}

.board_view {margin-left: 5px;margin-top: 5px; width:950px;height: 770px; position: relative;}
.board_view table{width: 950px;border:1px solid black;}
.board_view .content{height:100px;}
.board_view .date{width:400px;}
.board_view .subject{width:300px;}
.board_view .hit{width:80px;}
.board_view td{ padding-left: 10px;border:1px solid black; height: 30px; vertical-align: middle;}

#layer_passwd {z-index: 9000; display:none; position: relative;}
#layer_passwd .layer_passwd{ padding: 50px; width:200px; height: 200px; top :-100px; left :300px; background-color: white; position: absolute;}
#layer_passwd .layer_passwd table{ width :200px;  height: 200px;}
#layer_passwd .layer_passwd p{ padding: 10px; text-align: center;}

#layer_car {z-index: 9000; display:none; position: relative;}
#layer_car .layer_car{ padding: 50px; width:500px; height: 500px; top :-100px; left :300px; background-color: white; position: absolute;}
#layer_car .layer_car table{ width :400px;  height: 500px;}
#layer_car .layer_car p{ padding: 10px; text-align: center;}

#layer_bus {z-index: 9000; display:none; position: relative;}
#layer_bus .layer_bus{ padding: 50px; width:500px; height: 300px; top :-50px; left :300px; background-color: white; position: absolute;}
#layer_bus .layer_bus table{ width :400px;  height: 300px;}
#layer_bus .layer_bus p{ padding: 10px; text-align: center;}

#layer_tel {z-index: 9000; display:none; position: relative;}
#layer_tel .layer_tel{ padding: 50px; width:500px; height: 150px; top :-700px; left :300px; background-color: white; position: absolute;}
#layer_tel .layer_tel table{ width :400px;  height: 150px;}
#layer_tel .layer_tel p{ padding: 10px; text-align: center;}


#layer_room {z-index: 9000; display:none; position: relative;}
#layer_room .layer_room{ padding: 50px; width:500px; height: 600px; top :-700px; left :300px; background-color: white; position: absolute;}
#layer_room .layer_room table{ width :500px;  height: 600px;}
#layer_room .layer_room p{ padding: 10px; text-align: center;}

#layer_room_up {z-index: 9000; display:none; position: relative;}
#layer_room_up .layer_room_up{ padding: 50px; width:500px; height: 600px; top :0px; left :300px; background-color: white; position: absolute;}
#layer_room_up .layer_room_up table{ width :500px;  height: 600px;}
#layer_room_up .layer_room_up p{ padding: 10px; text-align: center;}


#layer_golf {z-index: 9000; display:none; position: relative;}
#layer_golf .layer_golf{ padding: 50px; width:500px; height: 150px; top :-700px; left :300px; background-color: white; position: absolute;}
#layer_golf .layer_golf table{ width :400px;  height: 150px;}
#layer_golf .layer_golf p{ padding: 10px; text-align: center;}

#layer_hole {z-index: 9000; display:none; position: relative;}
#layer_hole .layer_hole{ padding: 50px; width:500px; height: 50px; top :-700px; left :300px; background-color: white; position: absolute;}
#layer_hole .layer_hole table{ width :500px;  height: 50px;}
#layer_hole .layer_hole p{ padding: 10px; text-align: center;}

#layer_hole_up {z-index: 9000; display:none; position: relative;}
#layer_hole_up .layer_hole_up{ padding: 50px; width:500px; height: 50px; top :0px; left :300px; background-color: white; position: absolute;}
#layer_hole_up .layer_hole_up table{ width :500px;  height: 50px;}
#layer_hole_up .layer_hole_up p{ padding: 10px; text-align: center;}


#layer_d {
   z-index: 9000;
   display:none;
   position: relative;

 }
#layer_d .layer_d{
  padding: 50px;
  width:400px;
  height: 100px;
  top :-700px;
  left :300px;
  background-color: white;
  position: absolute;

}
#layer_d .layer_d table{
  width :400px;
  height: 100px;
}
#layer_d .layer_d p{
  padding: 10px;
  text-align: center;
}
#layer_d_up {
  z-index: 9000;
  display:none;
  position: relative;

}
#layer_d_up .layer_d{
  padding: 50px;
  width:400px;
  height: 100px;
  top :-700px;
  left :300px;
  background-color: white;
  position: absolute;

}


#layer_d_up .layer_d table{
  width :400px;
  height: 100px;
}
#layer_d_up .layer_d p{
  padding: 10px;
  text-align: center;
}
.layer_d_m {
  z-index: 9000;
  display:none;
  position: relative;

}
.layer_d_m #layer_d_m{
  padding: 50px;
  width:400px;
  height: 100px;
  top :-700px;
  left :300px;
  background-color: white;
  position: absolute;

}
.layer_d_m #layer_d_m table{
  width :400px;
  height: 100px;
}
.layer_d_m #layer_d_m p{
  padding: 10px;
  text-align: center;
}
#photo_upload {z-index: 9000; display:none; position: relative;}
#photo_upload .photo_upload{ padding: 50px; width:500px; height: 300px; top :-700px; left :300px; background-color: white; position: absolute;}
#photo_upload .photo_upload { width :400px;  height: 300px;}

.up_btn {
  display: inline-block;
  width: 100px;
  text-align: center;
  padding: 10px;
  background-color: #006BCC;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}
.input_wrap input[type=file] {
  display: none;
}

.my_button {
  display: inline-block;
  width: 200px;
  text-align: center;
  padding: 10px;
  background-color: #006BCC;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}



.imgs_wrap {
  overflow: auto;
  height: 150px;
  border: 2px solid #A8A8A8;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;


}
.imgs_wrap img {
  max-width: 150px;
  margin-left: 10px;
  margin-right: 10px;
}
.imgs_room {
  overflow: auto;
  width: 300px;
  height: 150px;
  border: 2px solid #A8A8A8;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;


}
.imgs_room img {
  max-width: 150px;
  margin-left: 10px;
  margin-right: 10px;
}

.image_up {
  overflow: auto;
  width: 300px;
  height: 150px;
  border: 2px solid #A8A8A8;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;

}
.image_up img {
  max-width: 150px;
  margin-left: 10px;
  margin-right: 10px;
}