@charset "utf-8";
body{background:#232428 url("../image/bg.png") repeat-x}

#wrap{width:1400px;background-color:#e5e8ee;margin:20px auto;padding-bottom:20px;border:4px solid #4a4a4a}
#wrap:after{content:"";display:block;clear:both}
#wrap .mheader{width:100%;height:54px;line-height:54px;position: relative}
#wrap .mheader p{color:#50566c;font-weight:bold;font-size:14px;margin-left:16px}
#wrap .mheader img{vertical-align:middle;position: relative;top:-2px}
#wrap .mheader span{color:#577bbd}
#wrap .mheader span.date{color:#767676;font-size:12px}
#wrap .mheader a.close{position:absolute;right:6px;top:-6px}
#wrap td label{display: inline-block;background-color:#aaa9b7;width:108px;height:40px;color:#fff;font-size:12px;font-weight:bold;line-height:40px;}
#wrap td label span{padding-left:12px}
#wrap td label.list{height:61px;line-height: 62px}
#wrap td label.comment{height:79px;line-height: 80px}
#wrap td label.summarize{height:200px;line-height: 80px}


#wrap .lcontent{width:580px;height:760px;float:left;overflow-y:scroll}
#wrap .lcontent .member_info{width:100%;background-color:#e5e8ee}
#wrap .lcontent .member_info header{background-color:#fff;height:30px;padding-top: 10px;border-top: 1px solid #aaa;border-left: 1px solid #aaa;border-right: 1px solid #aaa; }
#wrap .lcontent .member_info header p {font-size:16px;font-weight:bold;color:#50566c;margin-left:12px}
#wrap .lcontent .member_info header p input[type="image"] {position:relative;top:4px;left:8px}
#wrap .lcontent .member_info th{background-color:#f1f1f1;width:108px;height:40px;color:#000;font-size:12px;font-weight:bold; vertical-align: middle;border:1px solid #aaa;}
#wrap .lcontent .member_info td {background-color:#fff;vertical-align: middle;border:1px solid #aaa;}
#wrap .lcontent .member_info td span.person {font-size:12px; margin-left:50px;color:#4f576c}
#wrap .lcontent .member_info td .txt {padding-left:12px;width:80%;height:22px;background-color:#f4f3f9;border:1px solid #dadada;position:relative;left:12px;color:#000}
#wrap .lcontent .member_info td .mail{padding-left:12px;width:400px;height:22px;background-color:#f4f3f9;border:1px solid #dadada;position:relative;left:12px;color:#000}
#wrap .lcontent .member_info td .stext {padding-left:20px;width:30px;height:22px;margin-right:34px;color:#4f576c;border:1px solid #dadada;}
#wrap .lcontent .member_info td textarea{margin-top:5px;margin-bottom:5px;width:428px;height:80px;vertical-align: middle;border:1px solid #dadada;background-color:#f4f3f9;position:relative;left:10px;color:#4f576c;font-size:12px}
#wrap .lcontent .member_info td textarea.comment{height:62px;font-size:12px}
#wrap .lcontent .member_info input[type='radio']{margin-left: 10px;}
#wrap .lcontent .member_info select{height: 25px;border-radius: 4px;}



#wrap .lcontent .deposit_info{width:100%;background-color:#e5e8ee;margin-top:5px}
#wrap .lcontent .deposit_info header{background-color:#fff;height:30px;padding-top: 10px;border-top: 1px solid #aaa;border-left: 1px solid #aaa;border-right: 1px solid #aaa;}
#wrap .lcontent .deposit_info header p {font-size:16px;font-weight:bold;color:#50566c;margin-left:12px}
#wrap .lcontent .deposit_info header p input[type="image"] {position:relative;top:4px;left:8px}
#wrap .lcontent .deposit_info th{background-color:#f1f1f1;width:108px;height:40px;color:#000;font-size:12px;font-weight:bold; vertical-align: middle;border:1px solid #aaa;}
#wrap .lcontent .deposit_info td {background-color:#fff;vertical-align: middle;border:1px solid #aaa;}
#wrap .lcontent .deposit_info td input[type="text"] {padding-left:12px;width:122px;height:22px;background-color:#f4f3f9;border:1px solid #dadada;position:relative;left:12px}
#wrap .lcontent .deposit_info td textarea{margin-top:10px;margin-bottom:10px;padding-top:5px;padding-left:5px;width:328px;height:45px;vertical-align: middle;border:1px solid #dadada;background-color:#f4f3f9;position:relative;left:10px;font-size:12px}
#wrap .lcontent .deposit_info td textarea{width:428px;height:45px;vertical-align: middle;border:1px solid #dadada;background-color:#f4f3f9;position:relative;left:10px;color:#4f576c;font-size:12px}
#wrap .lcontent .deposit_info td textarea.comment{height:62px;font-size:12px}
#wrap .lcontent .deposit_info td textarea.summarize{height:200px;font-size:12px;}
#wrap .lcontent .deposit_info td span.price{padding-left:12px; font-weight:bold;font-size:12px;color:#f30}
#wrap .lcontent .deposit_info td span.bracket{color:#4f576c;position:relative;top:1px}
#wrap .lcontent .deposit_info td span.no_payment{color:#0054FF;font-size:12px}
#wrap .lcontent .deposit_info td span.payment{color:#f30;font-size:12px}
#wrap .lcontent .deposit_info td span.date{padding-left:12px; font-weight:bold;font-size:12px;color: #1f7aff;}

#wrap .rcontent{width:690px;height:760px;float:left;overflow-y:scroll}
#wrap .rcontent  header {background-color:#fff;height:30px;padding-top: 10px;border-top: 1px solid #aaa;border-left: 1px solid #aaa;border-right: 1px solid #aaa;}
#wrap .rcontent  header p {font-size:16px;font-weight:bold;color:#50566c;margin-left:12px}
#wrap .rcontent  header p img{vertical-align:middle}
#wrap .rcontent  header p input[type="image"] {position:relative;top:6px;left:8px}
#wrap .rcontent  table{width:605px;border:1px solid #d6d9e0;position: relative;}
#wrap .rcontent  th{background-color:#f1f1f1;width:108px;height:40px;min-height:40px; max-height:60px;color:#000;font-size:12px;font-weight:bold; vertical-align: middle;border:1px solid #aaa;}
#wrap .rcontent  td { min-width: 150px; max-width:150px;padding-left:7px;background-color:#fff;vertical-align: middle;border:1px solid #aaa;font-size: 12px;}
#wrap .rcontent .title {background-color:#fff;font-size: 12px;border-bottom:1px solid #d6d9e0;vertical-align: middle;text-align: center;}
#wrap .rcontent .title{ width:100px;height:42px;background-color:#aaa9b7;color:#fff;font-weight: bold;}
#wrap .rcontent .stitle {background-color:#fff;font-size: 14px;border-bottom:1px solid #d6d9e0;border-right:1px solid #d6d9e0;vertical-align: middle;text-align: center;}
#wrap .rcontent .stitle{ width:100px;height:42px;background-color:#aaa9b7;color:#fff;font-weight: bold;}
#wrap .rcontent .sdate{background-color:#fff;font-size: 14px;border-bottom:1px solid #d6d9e0;border-right:1px solid #d6d9e0;vertical-align: middle;text-align: center;}
#wrap .rcontent .sdate{ width:130px;height:42px;background-color:#aaa9b7;color:#fff;font-weight: bold;}
#wrap .rcontent .stay {background-color:#fff;font-size: 14px;border-bottom:1px solid #d6d9e0;border-right:1px solid #d6d9e0;vertical-align: middle;text-align: center;}
#wrap .rcontent .stay{ width:80px;height:42px;background-color:#aaa9b7;color:#fff;font-weight: bold;}
#wrap .rcontent .sbigo {background-color:#fff;font-size: 14px;border-bottom:1px solid #d6d9e0;border-right:1px solid #d6d9e0;vertical-align: middle;text-align: center;}
#wrap .rcontent .sbigo{ width:130px;height:42px;background-color:#aaa9b7;color:#fff;font-weight: bold;}
#wrap .rcontent .bbigo{position:relative;top:1px;padding-left:12px;font-size: 13px;font-weight: bold;background-color:#fff;border:3px solid #d6d9e0;vertical-align: middle;height: 42px;}
#wrap .rcontent .cont{width:220px;position:relative;top:1px;padding-left:12px;font-size: 13px;font-weight: bold;background-color:#fff;border-bottom:1px solid #d6d9e0;vertical-align: middle;height: 42px;}
#wrap .rcontent .scont{font-size: 12px;position:relative;top:1px;padding-left:12px;font-weight: bold;background-color:#fff;border-bottom:1px solid #d6d9e0;vertical-align: middle;height: 42px;}
#wrap .rcontent input[type="radio"]{vertical-align: middle;}
#wrap .rcontent input[type="radio"].lradio{margin-left:20px}
#wrap .rcontent textarea{padding-top:5px;padding-left:5px;width: 550px; height: 50px;}
#wrap .rcontent  .baby textarea{padding-top:5px;padding-left:5px;width: 210px; height: 50px;}
#wrap .rcontent .stext{width: 50px;height:20px;vertical-align: middle;background-color:#f4f3f9;border:1px solid #d6d9e0; }
#wrap .rcontent .snum{width: 30px;height:20px;vertical-align: middle;background-color:#f4f3f9;border:1px solid #d6d9e0; }
#wrap .rcontent .sprice{width: 80px;height:20px;vertical-align: middle;background-color:#f4f3f9;border:1px solid #d6d9e0; }
#wrap .rcontent input[type="image"]{position:absolute;top:162px;left:178px}
#wrap .rcontent  td ul {width:100%;background-color:#fff;}
#wrap .rcontent  td ul li {float:left;height:40px;line-height:40px;width:146px;border-right:1px solid #ddd;text-align: center;font-size:12px; background-color:#fff;}
#wrap .rcontent  td ul li span.bold{font-weight:bold;}
#wrap .rcontent  td ul li span.receive_money{color:#f40d0d;}
#wrap .rcontent  td ul li:last-child{border-right:0}
#wrap .rcontent  td span.price{ font-weight:bold;font-size:12px;color:#f30}
#wrap .rcontent  td span.time{font-weight:bold;font-size:13px;color:#f30}
#wrap .rcontent  td span.date{ font-weight:bold;font-size:12px;color:#1f7aff}
#wrap .rcontent  td span.name{ font-weight:bold;font-size:12px;color:#f30}
#wrap .rcontent  td span.fuel{ font-weight:bold;font-size:12px;color:#1f7aff}
#wrap .rcontent  td span.profit{ font-weight:bold;font-size:12px;color: #0100FF;}


#wrap .div_left {text-align: left;}
#wrap .div_center {text-align: center;}
#wrap .div_right {text-align: right;}

#wrap .div_red{background-color: red;}
#wrap .div_bule{background-color: #7cb2ff;}
#wrap .div_yallow{background-color: #fffd65 ;}
#wrap .div_gray{background-color:grey;}

#wrap .rcontent .font_red{color: red;font-weight: bold;}
#wrap .rcontent .font_bule{color: #7cb2ff;}
#wrap .rcontent .font_realbule{color: blue;}
#wrap .rcontent .font_yallow{color: #fffd65 ;}
#wrap .rcontent .font_gray{color:grey;}

#wrap .adder_btn_group {width:100px;border:1px solid red; float:left}