   
    #content .search .search_tit{width:1400px;padding-top:38px;padding-bottom:29px;}
    #content .search .search_tit:after{content:"";display:inline-block;clear: both}
    #content .search .search_tit span.mar {margin-left:100px}
    #content .search .search_tit span{display:inline-block;width:510px;height:12px;background-image:url("../sub_img/bar.png");float:left}
    #content .search .search_tit img{display:inline-block;float:left;vertical-align: middle}
    #content .search .search_tit h3{font-size:28px;float:left;position: relative;top:-10px;padding-left:30px;padding-right:30px}       

    
    #content .faq{width:1200px;margin:0 auto}
    #content .faq:after{content:"";display: block;clear: both}
    .lmenu{float:left;width:298px;}
    .lmenu ul{width:260px;border:2px solid #4474cc}
    .lmenu li{text-align:center;width:260px;height:54px;line-height:54px;}
    
    .lmenu li a.last{border:0px}
    .lmenu li img{vertical-align: middle;float:right;position:relative;top:20px}
    .lmenu li:nth-child(8){background-color:#4474cc}
    .lmenu li:nth-child(8) a{color:#fff;border-top:1px solid #4474cc;border-bottom:none}
    .lmenu li a{display:inline-block;text-align: left;font-size:16px;color:#000;width:232px;height:54px;border-bottom:1px solid #dfdfdf}

    /* 공통 스타일 */
    .rcon table tr.ntc_bg{background-color:#f6fafe}
    .rcon table td.ntc{color:#000}
    .rcon table td img{vertical-align: middle;display:inline-block;padding:0 3px}
    .rcon table td.ntc a{color:#000}


    #layer_passwd {display:none; left:600px;  width:331px;position:fixed;top:300px;margin:0;background-color:#ffffff;z-index:2000;}
    #layer_passwd .b-close {position:absolute;top:10px;right:15px;color:#f37a20;font-weight:bold;cursor:hand;}
    #layer_passwd .header{background-color:#5583e8;height:40px;color:#fff;text-align:center;line-height: 40px;font-size:20px;font-weight:bold}
    #layer_passwd .popupContent{background-color:#fff;height:64px;margin-left:35px;margin-top:38px;}
    #layer_passwd .popupContent input[type="text"]{width:175px;height:30px;border:1px solid #dfdfdf}
    #layer_passwd .popupContent img{vertical-align: middle;margin-left:10px}


    /* 자주묻는질문 스타일시작 */
    .faq .rcon{float:right;width:900px;position:relative}
    .faq .rcon p:nth-child(1){display:inline-block;color:#000;font-size:30px;margin-right:10px}
    .faq .rcon p:nth-child(2){display:inline-block;color:#888;font-size:16px;}
    .faq .rcon .search{display:inline-block;position:absolute;left:547px}
    .faq .rcon .search select.lsel{width:63px;line-height:32px;height:32px;vertical-align: middle;
        border:1px solid #c8c8c8;color:#4f576c;font-size:12px;padding-left:12px;display:inline-block;
        background:url(../sub_img/down_arrow.png) no-repeat 95% 50%;
        -webkit-appearance: none;
        -moz-appearance: none; appearance: none; }
    select::-ms-expand { display: none; }
    .faq .rcon .search input[type="text"]{border:1px solid #c8c8c8;width:173px;height:27px;line-height:27px;padding-left:12px;color:#4f576c;}
    .faq .rcon .search input[type="image"]{vertical-align: middle}
    .faq .rcon .tbl_wrap{width:885px;border-top:2px solid #5683e8;margin-top:10px}
    .faq .rcon table{width:885px;border-collapse: collapse;}
    .faq .rcon table th{background-color:#f6fafe;height:55px;line-height:55px;text-align:center;border-left:1px solid #dfdfdf;border-right:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;font-size:16px}
    .faq .rcon table th:nth-child(1){width:70px}
    .faq .rcon table th:nth-child(2){width:190px;}
    .faq .rcon table th:nth-child(3){width:630px}
    .faq .rcon table td{height:55px;vertical-align:middle;text-align:center;border:1px solid #dfdfdf;color:#222;font-size:14px;color:#666}
    .faq .rcon table td:nth-child(3){padding-left:10px;text-align: center;color:#4474cc;font-size:16px}
    .faq .rcon table td a{color:#4474cc;font-size:16px}
    .faq .rcon table td a:hover{text-decoration: underline}
    .faq .rcon table td:nth-child(2){color:#222;font-size:16px}
    .faq .rcon table .answer{display:none}
    .faq .rcon table td div{background-color:#f6fafe;text-align:left;line-height:40px;padding-left:22px;padding-top:28px;padding-bottom:28px;}
    .faq .rcon .paging{text-align: center;margin-top:35px}
    .faq .rcon .paging span{font-size:12px;font-family:"돋움",dotum;padding:0 10px;color:#898989}
    .faq .rcon .paging span.select{color:#e87610}
    .faq .rcon .paging img{vertical-align: middle;padding:0 2px}

    /* 자주묻는질문 스타일 끝 */
    

    /* 여행후기 스타일 시작 */
    #content .after_list{width:1200px;margin:0 auto}
    #content .after_list:after{content:"";display: block;clear: both}
    .after_list .rcon{float:right;width:900px;position:relative}
    .after_list .rcon p:nth-child(1){display:inline-block;color:#000;font-size:30px;margin-right:10px}
    .after_list .rcon p:nth-child(2){display:inline-block;color:#888;font-size:16px;}
    .after_list .rcon .search{display:inline-block;position:absolute;left:547px}
    .after_list .rcon .search select.lsel{width:63px;line-height:32px;height:32px;vertical-align: middle;
                     border:1px solid #c8c8c8;color:#4f576c;font-size:12px;padding-left:12px;display:inline-block;
                     background:url(../sub_img/down_arrow.png) no-repeat 95% 50%;
                     -webkit-appearance: none; 
                     -moz-appearance: none; appearance: none; }
                    select::-ms-expand { display: none; }
    .after_list .rcon .search input[type="text"]{border:1px solid #c8c8c8;width:173px;height:27px;line-height:27px;padding-left:12px;color:#4f576c;}
    .after_list .rcon .search input[type="image"]{vertical-align: middle}
    .after_list .rcon .tbl_wrap{width:885px;border-top:2px solid #5683e8;margin-top:10px} 
    .after_list .rcon table{width:885px;border-collapse: collapse;}
    .after_list .rcon table th{background-color:#f6fafe;height:55px;line-height:55px;text-align:center;border-left:1px solid #dfdfdf;border-right:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;font-size:16px;color:#000}
    .after_list .rcon table th:nth-child(1){width:70px}
    .after_list .rcon table th:nth-child(2){width:640px}
    .after_list .rcon table th:nth-child(3){width:130px}
    .after_list .rcon table th:nth-child(4){width:70px}
    .after_list .rcon table td{height:55px;vertical-align: middle;text-align:center;border:1px solid #dfdfdf;color:#666;font-size:14px}
    .after_list .rcon table td:nth-child(2){text-align: left;padding-left:10px;font-size:16px}
    .after_list .rcon table td a{color:#222}
    .after_list .rcon table td a:hover{text-decoration: underline}
    .after_list .rcon table td span{color:#ff4f01}
    .after_list .rcon p.write{float:right;margin-top:10px}
    .after_list .rcon .paging{text-align: center;margin-top:55px}
    .after_list .rcon .paging span{font-size:12px;font-family:"돋움",dotum;padding:0 10px;color:#898989}
    .after_list .rcon .paging span.select{color:#e87610}
    .after_list .rcon .paging img{vertical-align: middle;padding:0 2px}
    #content .after_list_detail{width:1200px;margin:0 auto}
    #content .after_list_detail:after{content:"";display: block;clear: both}
    .after_list_detail .rcon{float:right;width:900px;position:relative}
    .after_list_detail .rcon p:nth-child(1){display:inline-block;color:#000;font-size:30px;margin-right:10px}
    .after_list_detail .rcon p:nth-child(2){display:inline-block;color:#888;font-size:16px;}
    .after_list_detail .rcon .search{display:inline-block;position:absolute;left:547px}
    .after_list_detail .rcon .search select.lsel{width:63px;line-height:32px;height:32px;vertical-align: middle;
                     border:1px solid #c8c8c8;color:#4f576c;font-size:12px;padding-left:12px;display:inline-block;
                     background:url(../sub_img/down_arrow.png) no-repeat 95% 50%;
                     -webkit-appearance: none; 
                     -moz-appearance: none; appearance: none; }
                    select::-ms-expand { display: none; }
    .after_list_detail .rcon .search input[type="text"]{border:1px solid #c8c8c8;width:173px;height:27px;line-height:27px;padding-left:12px;color:#4f576c;}
    .after_list_detail .rcon .search input[type="image"]{vertical-align: middle}
    .after_list_detail .rcon .tbl_wrap{width:885px;border-top:2px solid #5683e8;border-left:1px solid #dfdfdf;border-right:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;margin-top:10px} 
    .after_list_detail .rcon table{width:885px;border-collapse: collapse;}
    .after_list_detail .rcon table th{background-color:#f6fafe;height:52px;line-height:52px;border-bottom:1px solid #dfdfdf;color:#000}
    .after_list_detail .rcon table th span{font-size:14px}
    .after_list_detail .rcon table th p{display:inline-block;}
    .after_list_detail .rcon table th p:nth-child(1) {float:left;text-align: left;padding-left:20px}
    .after_list_detail .rcon table th p:nth-child(2) {float:right;text-align: right;padding-right:20px}
    .after_list_detail .rcon table th p:nth-child(1) span:nth-child(1){color:#000;font-size:16px}
    .after_list_detail .rcon table th p:nth-child(2) span:nth-child(2){color:#666;padding-right:15px}
    .after_list_detail .rcon table th p:nth-child(2) span:nth-child(3){color:#555;font-weight:bold;}
    .after_list_detail .rcon table th p:nth-child(2) span:nth-child(4){color:#666;padding-left:10px}
    .after_list_detail .rcon table th p:nth-child(2) span:nth-child(5){color:#666;}
    .after_list_detail .rcon table th p:nth-child(2) span:nth-child(6){color:#555;font-weight:bold;}
    .after_list_detail .rcon table td{width:900px;line-height:30px; text-align:left;color:#666;font-size:14px}
    .after_list_detail .rcon table td div.content{padding-left:25px;padding-top:68px;padding-bottom:68px;padding-right:25px}
    .after_list_detail .rcon table td a{color:#222}
    .after_list_detail .rcon table td a:hover{text-decoration: underline}
    .after_list_detail .rcon table td span{color:#ff4f01}
    .after_list_detail .rcon p.write{float:right;margin-top:10px}
    .after_list_detail .rcon div.reply {border:1px solid #dfdfdf;width:810px;margin:0 auto;margin-bottom:30px}
    .after_list_detail .rcon div.reply p.re_num{width:750px;height:50px;line-height:50px;color:#ff4f01;font-size:14px;font-weight: bold;margin-left:25px;padding-left:10px;border-bottom:1px solid #dfdfdf}
    .after_list_detail .rcon div.reply ul li {border-bottom:1px solid #dfdfdf;padding-bottom:30px;padding-left:10px;padding-top:10px;padding-right:105px;margin-left:25px;margin-right:25px;height:auto;}
    .after_list_detail .rcon div.reply ul li:last-child{margin-bottom:20px}
    .after_list_detail .rcon div.reply ul li p {font-size:14px;position: relative}
    .after_list_detail .rcon div.reply ul li p:nth-child(1) {width:755px;margin:0 auto}
    .after_list_detail .rcon div.reply ul li p:nth-child(1) span:nth-child(1){color:#555;font-weight: bold;margin-right:5px}
    .after_list_detail .rcon div.reply ul li p:nth-child(1) img{vertical-align: middle;position:absolute;top:6px;right:34px}
    .after_list_detail .rcon div.reply ul li p:nth-child(1) span:nth-child(2){color:#666}
    .after_list_detail .rcon div.reply_input{background-color:#f6fafe;border:1px solid #dfdfdf;margin-left:25px;margin-right:25px;height:152px}
    .after_list_detail .rcon div.reply_input p span{color:#666;font-size:13px}
    .after_list_detail .rcon div.reply_input p span:nth-child(1){padding-left:17px;}
    .after_list_detail .rcon div.reply_input p input[type="text"]{border:1px solid #dfdfdf;width:105px;height:19px;margin-right:10px;margin-bottom:22px}
    .after_list_detail .rcon div.reply_input p input[type="password"]{border:1px solid #dfdfdf;width:105px;height:19px}
    .after_list_detail .rcon div.reply_input p:nth-child(1){width:755px;margin:0 auto}
    .after_list_detail .rcon div.reply_input p:nth-child(2){width:755px;margin:0 auto}
    .after_list_detail .rcon div.reply_input textarea{margin-left:25px;border:1px solid #dfdfdf;width:612px;margin-right:10px;height:68px;}
    .after_list_detail .rcon div.reply_input input[type="image"] {float:right;position:relative;left:-22px}
    .after_list_detail .rcon .reply p.btns{text-align: center;height:80px;margin-top:30px}
    .after_list_detail .rcon .reply p.btns a{padding:0 5px}
   /* 여행후기 스타일 끝 */
  
    /* 현금영수증 write스타일 시작 */
    #content .receipt {width:1200px;margin:0 auto}
    #content .receipt:after{content:"";display: block;clear: both}
    .receipt .rcon{float:right;width:900px;position:relative}
    .receipt .rcon p:nth-child(1){display:inline-block;color:#000;font-size:30px;margin-right:10px}
    .receipt .rcon p:nth-child(2){display:inline-block;color:#888;font-size:16px;}
    .receipt .rcon .tbl_wrap{width:885px;border-top:2px solid #5683e8;border-left:1px solid #dfdfdf;border-right:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;margin-top:10px} 
    .receipt .rcon table{width:885px;border-collapse: collapse;}
    .receipt .rcon table th{width:114px;background-color:#f6fafe;height:52px;line-height:52px;border-bottom:1px solid #dfdfdf;border-right:1px solid #dfdfdf;color:#000}
    .receipt .rcon table th.last{border-bottom: none}
    .receipt .rcon table td{height:52px;vertical-align:middle;border-bottom:1px solid #dfdfdf}    
    .receipt .rcon table td.last{border-bottom:none}
    .receipt .rcon table td input[type="text"]{width:240px;height:29px;border:1px solid #dfdfdf;margin-left:15px;padding-left:12px}
    .receipt .rcon table td span{padding-left:15px}
    .receipt .rcon p.btn{margin-top:25px;position:relative;left:400px}

    
    /* 현금영수증 write스타일 종료 */

    /* 현금영수증 list 시작 */
    #content .receipt_list {width:1200px;margin:0 auto}
    #content .receipt_list:after{content:"";display: block;clear: both}
    .receipt_list .rcon{float:right;width:900px;position:relative}
    .receipt_list .rcon p:nth-child(1){display:inline-block;color:#000;font-size:30px;margin-right:10px}
    .receipt_list .rcon p:nth-child(2){display:inline-block;color:#888;font-size:16px;}
    .receipt_list .rcon .search{display:inline-block;position:absolute;left:547px}
    .receipt_list .rcon .search select.lsel{width:63px;line-height:32px;height:32px;vertical-align: middle;
                     border:1px solid #c8c8c8;color:#4f576c;font-size:12px;padding-left:12px;display:inline-block;
                     background:url(../image/down_arrow.png) no-repeat 95% 50%; 
                     -webkit-appearance: none; 
                     -moz-appearance: none; appearance: none; }
                    select::-ms-expand { display: none; }
    .receipt_list .rcon .search input[type="text"]{border:1px solid #c8c8c8;width:173px;height:27px;line-height:27px;padding-left:12px;color:#4f576c;}
    .receipt_list .rcon .search input[type="image"]{vertical-align: middle}
    .receipt_list .rcon .tbl_wrap{width:885px;border-top:2px solid #5683e8;margin-top:10px} 
    .receipt_list .rcon table{width:885px;border-collapse: collapse;}
    .receipt_list .rcon table th{width:114px;background-color:#f6fafe;height:52px;line-height:52px;border-bottom:1px solid #dfdfdf;border-right:1px solid #dfdfdf;border-left:1px solid #dfdfdf;color:#000}
    .receipt_list .rcon table th:nth-child(1){width:70px}
    .receipt_list .rcon table th:nth-child(2){width:540px;}
    .receipt_list .rcon table th:nth-child(3){width:100px}
    .receipt_list .rcon table th:nth-child(4){width:100px}
    .receipt_list .rcon table th:nth-child(5){width:70px}
    .receipt_list .rcon table td{height:55px;vertical-align: middle;text-align:center;border:1px solid #dfdfdf;color:#666;font-size:14px}
    .receipt_list .rcon table td.wait{color:#5683e8}
    .receipt_list .rcon table td:nth-child(2){text-align: left;padding-left:10px;font-size:16px;color:#222}
    .receipt_list .rcon .paging{text-align: center;margin-top:55px}
    .receipt_list .rcon .paging span{font-size:12px;font-family:"돋움",dotum;padding:0 10px;color:#898989}
    .receipt_list .rcon .paging span.select{color:#e87610}
    .receipt_list .rcon .paging img{vertical-align: middle;padding:0 2px}
    .receipt_list .rcon p.write{float:right;margin-top:10px;margin-right:15px}
     /* 현금영수증 list 끝 */
   
    /* 여행상담 스타일 시작 */
    #content .counseling {width:1200px;margin:0 auto}
    #content .counseling:after{content:"";display: block;clear: both}
    .counseling .rcon{float:right;width:900px;position:relative}
    .counseling .rcon p:nth-child(1){display:inline-block;color:#000;font-size:30px;margin-right:10px}
    .counseling .rcon p:nth-child(2){display:inline-block;color:#888;font-size:16px;}
    .counseling .rcon .search{display:inline-block;position:absolute;left:566px}
    .counseling .rcon .search select.lsel{width:63px;line-height:32px;height:32px;vertical-align: middle;
                     border:1px solid #c8c8c8;color:#4f576c;font-size:12px;padding-left:12px;display:inline-block;
                     background:url(../image/down_arrow.png) no-repeat 95% 50%; 
                     -webkit-appearance: none; 
                     -moz-appearance: none; appearance: none; }
                    select::-ms-expand { display: none; }
    .counseling .rcon .search input[type="text"]{border:1px solid #c8c8c8;width:153px;height:27px;line-height:27px;padding-left:12px;color:#4f576c;}
    .counseling .rcon .search input[type="image"]{vertical-align: middle}
    .counseling .rcon .tbl_wrap{width:885px;border-top:2px solid #5683e8;margin-top:10px} 
    .counseling .rcon table{width:885px;border-collapse: collapse;}
    .counseling .rcon table th{width:114px;background-color:#f6fafe;height:52px;line-height:52px;border-bottom:1px solid #dfdfdf;border-right:1px solid #dfdfdf;border-left:1px solid #dfdfdf;color:#000}
    .counseling .rcon table th:nth-child(1){width:70px}
    .counseling .rcon table th:nth-child(2){width:540px}
    .counseling .rcon table th:nth-child(3){width:150px}
    .counseling .rcon table th:nth-child(4){width:70px}
    .counseling .rcon table th:nth-child(5){width:70px}
    .counseling .rcon table td:nth-child(1){font-size:14px}
    .counseling .rcon table td:nth-child(3){font-size:14px}
    .counseling .rcon table td:nth-child(4){font-size:14px}
    .counseling .rcon table td:nth-child(5){font-size:14px}
    .counseling .rcon table td{height:55px;vertical-align: middle;text-align:center;border:1px solid #dfdfdf;color:#666;font-size:16px}
    .counseling .rcon table td:nth-child(2){padding-left:10px;text-align:left}
    .counseling .rcon table td:nth-child(2) img {vertical-align: middle;display:inline-block;padding-right:3px;padding-left:3px}
   
    .counseling  .rcon table td.wait{color:#5583e8}
    .counseling .rcon table td a{color:#222}
    .counseling .rcon table td a:hover{text-decoration: underline}
    .counseling .rcon .paging{text-align: center;margin-top:55px}
    .counseling .rcon .paging span{font-size:12px;font-family:"돋움",dotum;padding:0 10px;color:#898989}
    .counseling .rcon .paging span.select{color:#e87610}
    .counseling .rcon .paging img{vertical-align: middle;padding:0 2px}
    .counseling .rcon p.write{float:right;margin-top:10px;margin-right:15px}

    #content .counseling_detail{width:1200px;margin:0 auto}
    #content .counseling_detail:after{content:"";display: block;clear: both}
    .counseling_detail .rcon{float:right;width:900px;position:relative}
    .counseling_detail .rcon p:nth-child(1){display:inline-block;color:#000;font-size:30px;margin-right:10px}
    .counseling_detail .rcon p:nth-child(2){display:inline-block;color:#888;font-size:16px;}
    .counseling_detail .rcon .search{display:inline-block;position:absolute;left:566px}
    .counseling_detail .rcon .search select.lsel{width:63px;line-height:32px;height:32px;vertical-align: middle;
                     border:1px solid #c8c8c8;color:#4f576c;font-size:12px;padding-left:12px;display:inline-block;
                     background:url(../image/down_arrow.png) no-repeat 95% 50%; 
                     -webkit-appearance: none; 
                     -moz-appearance: none; appearance: none; }
                    select::-ms-expand { display: none; }
    .counseling_detail .rcon .search input[type="text"]{border:1px solid #c8c8c8;width:153px;height:27px;line-height:27px;padding-left:12px;color:#4f576c;}
    .counseling_detail .rcon .search input[type="image"]{vertical-align: middle}
    .counseling_detail .rcon .tbl_wrap{width:885px;border-top:2px solid #5683e8;border-left:1px solid #dfdfdf;border-right:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;margin-top:10px} 
    .counseling_detail .rcon table{width:885px;border-collapse: collapse;}
    .counseling_detail .rcon table th{background-color:#f6fafe;height:52px;line-height:52px;border-bottom:1px solid #dfdfdf;color:#000}
    .counseling_detail .rcon table th span{font-size:14px}
    .counseling_detail .rcon table th p{display:inline-block;}
    .counseling_detail .rcon table th p:nth-child(1) {float:left;text-align: left;padding-left:20px}
    .counseling_detail .rcon table th p:nth-child(2) {float:right;text-align: right;padding-right:20px}
    .counseling_detail .rcon table th p:nth-child(1) span:nth-child(1){color:#000;font-size:16px}
    .counseling_detail .rcon table th p:nth-child(2) span:nth-child(2){color:#666;padding-right:15px}
    .counseling_detail .rcon table th p:nth-child(2) span:nth-child(3){color:#555;font-weight:bold;}
    .counseling_detail .rcon table th p:nth-child(2) span:nth-child(4){color:#666;padding-left:10px}
    .counseling_detail .rcon table th p:nth-child(2) span:nth-child(5){color:#666;}
    .counseling_detail .rcon table th p:nth-child(2) span:nth-child(6){color:#555;font-weight:bold;padding-left:10px}
    .counseling_detail .rcon table td{width:900px;line-height:30px; text-align:left;color:#666;font-size:14px}
    .counseling_detail .rcon table td div.content{padding-left:25px;padding-top:68px;padding-bottom:68px;padding-right:25px}

    .counseling_detail .rcon table td a{color:#222}
    .counseling_detail .rcon table td a:hover{text-decoration: underline}
    .counseling_detail .rcon table td span{color:#ff4f01}
    .counseling_detail .rcon p.write{float:right;margin-top:10px}
    .counseling_detail .rcon div.reply {border:1px solid #dfdfdf;width:810px;margin:0 auto;margin-bottom:30px}
    .counseling_detail .rcon div.reply p.re_num{width:750px;height:50px;line-height:50px;color:#ff4f01;font-size:14px;font-weight: bold;margin-left:25px;padding-left:10px;border-bottom:1px solid #dfdfdf}
    .counseling_detail .rcon div.reply ul li {border-bottom:1px solid #dfdfdf;padding-bottom:30px;padding-left:10px;padding-top:10px;padding-right:105px;margin-left:25px;margin-right:25px;height:auto;}
    .counseling_detail .rcon div.reply ul li:last-child{margin-bottom:20px}
    .counseling_detail .rcon div.reply ul li p {font-size:14px;position: relative}
    .counseling_detail .rcon div.reply ul li p:nth-child(1) {width:755px;margin:0 auto}
    .counseling_detail .rcon div.reply ul li p:nth-child(1) span:nth-child(1){color:#555;font-weight: bold;margin-right:5px}
    .counseling_detail .rcon div.reply ul li p:nth-child(1) img{vertical-align: middle;position:absolute;top:6px;right:34px}
    .counseling_detail .rcon div.reply ul li p:nth-child(1) span:nth-child(2){color:#666}
    .counseling_detail .rcon div.reply_input{background-color:#f6fafe;border:1px solid #dfdfdf;margin-left:25px;margin-right:25px;height:152px}
    .counseling_detail .rcon div.reply_input p span{color:#666;font-size:13px}
    .counseling_detail .rcon div.reply_input p span:nth-child(1){padding-left:17px;}
    .counseling_detail .rcon div.reply_input p input[type="text"]{border:1px solid #dfdfdf;width:105px;height:19px;margin-right:10px;margin-bottom:22px}
    .counseling_detail .rcon div.reply_input p input[type="password"]{border:1px solid #dfdfdf;width:105px;height:19px}
    .counseling_detail .rcon div.reply_input p:nth-child(1){width:755px;margin:0 auto}
    .counseling_detail .rcon div.reply_input p:nth-child(2){width:755px;margin:0 auto}
    .counseling_detail .rcon div.reply_input textarea{margin-left:25px;border:1px solid #dfdfdf;width:612px;margin-right:10px;height:68px;}
    .counseling_detail .rcon div.reply_input input[type="image"] {float:right;position:relative;left:-22px}
    .counseling_detail .rcon .reply p.btns{text-align: center;height:80px;margin-top:30px}
    .counseling_detail .rcon .reply p.btns a{padding:0 5px}
    /* 여행상담 스타일 끝 */

    /* 공지사항 스타일 시작 */
    #content .notice {width:1200px;margin:0 auto}
    #content .notice:after{content:"";display: block;clear: both}
    .notice .rcon{float:right;width:900px;position:relative}
    .notice .rcon p:nth-child(1){display:inline-block;color:#000;font-size:30px;margin-right:10px}
    .notice .rcon p:nth-child(2){display:inline-block;color:#888;font-size:16px;}
    .notice .rcon .search{display:inline-block;position:absolute;left:566px}
    .notice .rcon .search select.lsel{width:63px;line-height:32px;height:32px;vertical-align: middle;
                     border:1px solid #c8c8c8;color:#4f576c;font-size:12px;padding-left:12px;display:inline-block;
                     background:url(../sub_img/down_arrow.png) no-repeat 95% 50%;
                     -webkit-appearance: none; 
                     -moz-appearance: none; appearance: none; }
                    select::-ms-expand { display: none; }
    .notice .rcon .search input[type="text"]{border:1px solid #c8c8c8;width:153px;height:27px;line-height:27px;padding-left:12px;color:#4f576c;}
    .notice .rcon .search img{vertical-align: middle}
    .notice .rcon .tbl_wrap{width:885px;border-top:2px solid #5683e8;margin-top:10px} 
    .notice .rcon table{width:885px;border-collapse: collapse;}
    .notice .rcon table th{width:114px;background-color:#f6fafe;height:52px;line-height:52px;border-bottom:1px solid #dfdfdf;border-right:1px solid #dfdfdf;border-left:1px solid #dfdfdf;color:#000}
    .notice .rcon table .no{width:70px;text-align: center;}
    .notice .rcon table .sele{width:70px}
    .notice .rcon table .subject{width:540px}
    .notice .rcon table .date{width:110px}
    .notice .rcon table .author{width:150px}
    .notice .rcon table .count{width:70px}
    .notice .rcon table .re{width:110px}

    .notice .rcon table td{height:38px;vertical-align: middle;text-align:center;border:1px solid #dfdfdf;color:#666;font-size:14px}
    .notice .rcon table td:nth-child(2){text-align:center;}
    .notice .rcon table td a{color:#000;font-size:15px}
    .notice .rcon table td a:hover{text-decoration: underline}
    .notice .rcon .paging{text-align: center;margin-top:55px}
    .notice .rcon .paging span{font-size:12px;font-family:"돋움",dotum;padding:0 10px;color:#898989}
    .notice .rcon .paging span.select{color:#e87610}
    .notice .rcon .paging img{vertical-align: middle;padding:0 2px}
    .notice .rcon p.write{float:right;margin-top:10px;margin-right:15px}

    #content .notice_detail{width:1200px;margin:0 auto}
    #content .notice_detail:after{content:"";display: block;clear: both}
    .notice_detail .rcon{float:right;width:900px;position:relative}
    .notice_detail .rcon .tit{display:inline-block;color:#000;font-size:30px;margin-right:10px}
    .notice_detail .rcon .tit2{display:inline-block;color:#888;font-size:16px;}
    .notice_detail .rcon .search{display:inline-block;position:absolute;left:547px}
    .notice_detail .rcon .search select.lsel{width:63px;line-height:32px;height:32px;vertical-align: middle;
        border:1px solid #c8c8c8;color:#4f576c;font-size:12px;padding-left:12px;display:inline-block;
        background:url(../sub_img/down_arrow.png) no-repeat 95% 50%;
        -webkit-appearance: none;
        -moz-appearance: none; appearance: none; }
    select::-ms-expand { display: none; }
    .notice_detail .rcon .search input[type="text"]{border:1px solid #c8c8c8;width:173px;height:27px;line-height:27px;padding-left:12px;color:#4f576c;}
    .notice_detail .rcon .search input[type="image"]{vertical-align: middle}
    .notice_detail .rcon .tbl_wrap{width:885px;border-top:2px solid #5683e8;border-left:1px solid #dfdfdf;border-right:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;margin-top:10px}
    .notice_detail .rcon table{width:885px;border-collapse: collapse;}
    .notice_detail .rcon table th{background-color:#f6fafe;height:52px;line-height:52px;border-bottom:1px solid #dfdfdf;color:#000}
    .notice_detail .rcon table th span{font-size:14px}
    .notice_detail .rcon table th p{display:inline-block;}
    .notice_detail .rcon table th p:nth-child(1) {float:left;text-align: left;padding-left:20px}
    .notice_detail .rcon table th p:nth-child(2) {float:right;text-align: right;padding-right:20px}
    .notice_detail .rcon table th p:nth-child(1) span:nth-child(1){color:#000;font-size:16px}
    .notice_detail .rcon table th p:nth-child(2) span:nth-child(2){color:#666;padding-right:15px}
    .notice_detail .rcon table th p:nth-child(2) span:nth-child(3){color:#555;font-weight:bold;}
    .notice_detail .rcon table th p:nth-child(2) span:nth-child(4){color:#666;padding-left:10px}
    .notice_detail .rcon table th p:nth-child(2) span:nth-child(5){color:#666;}
    .notice_detail .rcon table th p:nth-child(2) span:nth-child(6){color:#555;font-weight:bold;}
    .notice_detail .rcon table td{width:900px;line-height:30px; text-align:left;color:#666;font-size:14px}
    .notice_detail .rcon table td div.content{padding-left:25px;padding-top:68px;padding-bottom:68px;padding-right:25px}
    .notice_detail .rcon table td a{color:#222}
    .notice_detail .rcon table td a:hover{text-decoration: underline}
    .notice_detail .rcon table td span{color:#ff4f01}
    .notice_detail .rcon p.write{float:right;margin-top:10px}
    .notice_detail .rcon div.reply {border:1px solid #dfdfdf;width:810px;margin:0 auto;margin-bottom:30px}
    .notice_detail .rcon div.reply p.re_num{width:750px;height:50px;line-height:50px;color:#ff4f01;font-size:14px;font-weight: bold;margin-left:25px;padding-left:10px;border-bottom:1px solid #dfdfdf}
    .notice_detail .rcon div.reply ul li {border-bottom:1px solid #dfdfdf;padding-bottom:30px;padding-left:10px;padding-top:10px;padding-right:105px;margin-left:25px;margin-right:25px;height:auto;}
    .notice_detail .rcon div.reply ul li:last-child{margin-bottom:20px}
    .notice_detail .rcon div.reply ul li p {font-size:14px;position: relative}
    .notice_detail .rcon div.reply ul li p:nth-child(1) {width:755px;margin:0 auto}
    .notice_detail .rcon div.reply ul li p:nth-child(1) span:nth-child(1){color:#555;font-weight: bold;margin-right:5px}
    .notice_detail .rcon div.reply ul li p:nth-child(1) img{vertical-align: middle;position:absolute;top:6px;right:34px}
    .notice_detail .rcon div.reply ul li p:nth-child(1) span:nth-child(2){color:#666}
    .notice_detail .rcon div.reply_input{background-color:#f6fafe;border:1px solid #dfdfdf;margin-left:25px;margin-right:25px;height:152px}
    .notice_detail .rcon div.reply_input p span{color:#666;font-size:13px}
    .notice_detail .rcon div.reply_input p span:nth-child(1){padding-left:17px;}
    .notice_detail .rcon div.reply_input p input[type="text"]{border:1px solid #dfdfdf;width:105px;height:19px;margin-right:10px;margin-bottom:22px}
    .notice_detail .rcon div.reply_input p input[type="password"]{border:1px solid #dfdfdf;width:105px;height:19px}
    .notice_detail .rcon div.reply_input p:nth-child(1){width:755px;margin:0 auto}
    .notice_detail .rcon div.reply_input p:nth-child(2){width:755px;margin:0 auto}
    .notice_detail .rcon div.reply_input textarea{margin-left:25px;border:1px solid #dfdfdf;width:612px;margin-right:10px;height:68px;}
    .notice_detail .rcon div.reply_input .add{float:right;position:relative;left:-22px}
    .notice_detail .rcon  p.btns{text-align: center;height:80px;margin-top:30px}
    .notice_detail .rcon  p.btns a{padding:0 5px}



    /* 공지사항 스타일 끝 */

    /* 입금확인 스타일 시작 */
    #content .deposit{width:1200px;margin:0 auto}
    #content .deposit:after{content:"";display: block;clear: both}
    .deposit .rcon{float:right;width:900px;position:relative}
    .deposit .rcon p:nth-child(1){display:inline-block;color:#000;font-size:30px;margin-right:10px}
    .deposit .rcon p:nth-child(2){display:inline-block;color:#888;font-size:16px;}
    .deposit .rcon .search{display:inline-block;position:absolute;left:547px}
    .deposit .rcon .search select.lsel{width:63px;line-height:32px;height:32px;vertical-align: middle;
                     border:1px solid #c8c8c8;color:#4f576c;font-size:12px;padding-left:12px;display:inline-block;
                     background:url(../image/down_arrow.png) no-repeat 95% 50%; 
                     -webkit-appearance: none; 
                     -moz-appearance: none; appearance: none; }
                    select::-ms-expand { display: none; }
    .deposit .rcon .search input[type="text"]{border:1px solid #c8c8c8;width:173px;height:27px;line-height:27px;padding-left:12px;color:#4f576c;}
    .deposit .rcon .search input[type="image"]{vertical-align: middle}
    .deposit .rcon .tbl_wrap{width:885px;border-top:2px solid #5683e8;margin-top:10px} 
    .deposit .rcon table{width:885px;border-collapse: collapse;}
    .deposit .rcon table th{background-color:#f6fafe;height:55px;line-height:55px;text-align:center;border-left:1px solid #dfdfdf;border-right:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;font-size:16px;color:#000}
    .deposit .rcon table th:nth-child(1){width:70px}
    .deposit .rcon table th:nth-child(2){width:630px}
    .deposit .rcon table th:nth-child(3){width:130px}
    .deposit .rcon table th:nth-child(4){width:70px}
    .deposit .rcon table td{height:55px;vertical-align: middle;text-align:center;border:1px solid #dfdfdf;color:#666;font-size:14px}
    .deposit .rcon table td:nth-child(2){text-align: left;padding-left:10px;font-size:16px;color:#222}
    .deposit .rcon table td a{color:#222}
    .deposit .rcon table td a:hover{text-decoration: underline}
    .deposit .rcon table td span{color:#ff4f01}
    .deposit .rcon p.write{float:right;margin-top:10px}
    .deposit .rcon .paging{text-align: center;margin-top:55px}
    .deposit .rcon .paging span{font-size:12px;font-family:"돋움",dotum;padding:0 10px;color:#898989}
    .deposit .rcon .paging span.select{color:#e87610}
    .deposit .rcon .paging img{vertical-align: middle;padding:0 2px}
    
    /* 입금확인 스타일 끝 */

    /* 예약확인 스타일 시작 */
    #content .res_confirm{width:1200px;margin:0 auto}
    #content .res_confirm:after{content:"";display: block;clear: both}
    .res_confirm .rcon{float:right;width:900px;position:relative}
    .res_confirm .rcon p:nth-child(1){display:inline-block;color:#000;font-size:30px;margin-right:10px}
    .res_confirm .rcon p:nth-child(2){display:inline-block;color:#888;font-size:16px;}
    .res_confirm .rcon .tbl_wrap{width:885px;border-top:2px solid #5683e8;margin-top:10px} 
    .res_confirm .rcon table{width:885px;border-collapse: collapse;}
    .res_confirm .rcon table th{background-color:#f6fafe;width:114px;height:55px;line-height:55px;text-align:center;border-left:1px solid #dfdfdf;border-right:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;font-size:16px;color:#000}
    .res_confirm .rcon table td{height:55px;vertical-align: middle;text-align:center;border:1px solid #dfdfdf;color:#222;font-size:16px;}
    .res_confirm .rcon table td input[type="text"]{width:240px;height:29px;border:1px solid #dfdfdf;margin-left:15px;padding-left:12px}
    .res_confirm .rcon p.btn{margin-top:25px;position:relative;left:400px}
    /* 예약확인 스타일 끝 */


    /* 예약확인 스타일 시작 */
    #content .refund{width:1200px;margin:0 auto}
    #content .refund:after{content:"";display: block;clear: both}
    .refund .rcon{float:right;width:900px;position:relative}
    .refund .rcon p:nth-child(1){display:inline-block;color:#000;font-size:30px;margin-right:10px}
    .refund .rcon p:nth-child(2){display:inline-block;color:#888;font-size:16px;}
    .refund .rcon .tbl_wrap{width:885px;border-top:2px solid #5683e8;margin-top:10px} 
    .refund .rcon table{width:885px;border-collapse: collapse;}
    .refund .rcon table th{background-color:#f6fafe;width:114px;height:55px;line-height:55px;text-align:center;border-left:1px solid #dfdfdf;border-right:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;font-size:16px;color:#000}
    .refund .rcon table td{height:55px;vertical-align: middle;text-align:center;border:1px solid #dfdfdf;color:#222;font-size:16px;text-align: left}
    .refund .rcon table td input[type="text"]{width:240px;height:29px;border:1px solid #dfdfdf;margin-left:15px;padding-left:12px}
    .refund .rcon p.btn{margin-top:25px;position:relative;left:400px}
    /* 예약확인 스타일 끝 */

    #content .writer{width:1200px;margin:0 auto}
    #content .writer:after{content:"";display: block;clear: both}
    .writer .rcon{float:right;width:900px;position:relative;}
    .writer .rcon p:nth-child(1){display:inline-block;color:#000;font-size:30px;margin-right:10px}
    .writer .rcon p:nth-child(2){display:inline-block;color:#888;font-size:16px;}
    .writer .rcon .tbl_wrap{width:885px;border-top:2px solid #5683e8;margin-top:10px}
    .writer .rcon table{width:885px;border-collapse: collapse;}
    .writer .rcon table th{background-color:#f6fafe;width:140px;height:55px;line-height:55px;text-align:center;border-left:1px solid #dfdfdf;border-right:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;font-size:16px;color:#000;vertical-align: middle}
    .writer .rcon table td{height:55px;vertical-align: middle;text-align:center;border:1px solid #dfdfdf;color:#222;font-size:16px;text-align: left}
    .writer .rcon table td input[type="text"]{width:240px;height:29px;border:1px solid #dfdfdf;margin-left:15px;padding-left:12px}
    .writer .rcon table td input[type="password"]{width:240px;height:29px;border:1px solid #dfdfdf;margin-left:15px;padding-left:12px}
    .writer .rcon table td input[type="text"].subject{width:440px;height:29px;border:1px solid #dfdfdf;margin-left:15px;padding-left:12px}
    .writer .rcon table td textarea{border:1px solid #dfdfdf;margin:15px;padding:12px}
    .writer .rcon table td span.subscribe{color:#FF3300;font-size:12px;font-family:'돋움',dotum}
    .writer .rcon table td span.auth_num{padding-left:12px}
    .writer .rcon p.submit{width:900px;text-align: center;margin:20px 0}
    .writer .rcon input[type="checkbox"]{width:20px;height:20px;border:1px solid #dfdfdf;vertical-align: middle}
    .writer .rcon .btn{width:120px;height:50px;cursor: pointer;font-size:16px;background-color:#4474cc;border:none;color:#fff;text-align: center}
    .writer .rcon p:nth-child(1){display:inline-block;color:#000;font-size:30px;margin-right:10px}
    .writer .rcon p.header{font-weight: bold;font-size:24px;color:#000;margin:20px 0}
    .writer .rcon .subscribe{color:#666;padding:5px;font-size:16px;line-height:23px;margin-top:20px;width:735px;height:350px;overflow-y: scroll;overflow-x: hidden}
    .writer .rcon .tbl_wrap{width:735px;border-top:2px solid #5683e8;margin-top:10px}
    .writer .rcon .tbl_wrap td{text-align: left;padding-left:10px}

    #content .faq .mypage_tit{
        width:1200px;
        padding-top:5px;
        padding-bottom:50px;
    }
    #content .faq .mypage_tit table {
        width: 1200px;
        border-top: 1px solid #dfdfdf;
        border-bottom: 1px solid #dfdfdf;
    }
    #content .faq .mypage_tit td{
        width: 100px;
        height: 100px;
        color : #666666;
        vertical-align: middle;
    }
    /*예약 정보 입력*/
    #content .res-title {
        width: 100%;
        height: 30px;
        line-height: 30px;
        font-family: NanumGothic;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
        margin : 20px auto;
    }

    #content .res-title span.res-dot {
        display: inline-block;
        width: 11px;
        height: 11px;
        background-color: #5583e8;
        margin-right : 10px;
    }

    #content .res-info {
        width: 900px;
        height: auto;
        margin : auto;
    }

    #content .res-info table {
        width: 100%;
        height: 100%;
        border: solid 1px #dfdfdf;
        margin : auto;
    }

    #content .res-info td {
        height: 60px;
        border: solid 1px #dfdfdf;
    }

    #content .res-info td.res-info-title {
        width: 200px;
        background : #e8eef1;
        font-family: NanumGothic;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 4;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
    }

    #content .res-info td.res-info-title-car {
        width: 200px;
        background : #e8eef1;
        font-family: NanumGothic;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 4;
        letter-spacing: normal;
        text-align: center;
        color: #666666;
    }


    #content .res-info td.res-info-text {
        font-family: NanumGothic;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 4;
        letter-spacing: normal;
        text-align: left;
        color: #666666;
        padding-left: 20px;
    }

    #content .res-info td span.res-info-text-item {
        color: #5583e8;
    }

    span.res-info-text-item {
        color: #5583e8;
        padding-right: 10px;
    }

    #content .res-info td span.res-info-text-num {
        color: #fd5001;
    }
    span.res-info-text-num {
        color: #fd5001;
    }

    /*예약자 정보 입력 */
    #content .res-parson {
        width: 900px;
        height: auto;
        margin: auto;
    }

    #content.res-parson table {
        width: 900px;
        height: 100%;
        border: solid 5px #dfdfdf;
        margin : auto;
    }

    #content.res-parson td {
        height: 60px;
        border: solid 1px #dfdfdf;
    }

    #content.res-parson td.res-parson-title {
        width: 200px;
        background-color: #f8f8f8;
        font-family: NanumGothic;
        font-size: 16px;
        height: 60px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 4;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
        width: 150px;
    }

    #content.res-parson td.res-parson-text {
        font-family: NanumGothic;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 4;
        letter-spacing: normal;
        text-align: left;
        color: #666666;
        width: 300px;
    }


    /*예약 버튼 */

    #content .faq .res-button {
        width: 900px;
        height: 300px;
        margin : auto;
        text-align: center;
    }

    #content .faq .res-button button{
        display: inline-block;
        width: 125px;
        height: 45px;
        line-height: 45px;
        border-radius: 4px;
        background-color: #5583e8;
        margin-top : 50px;
        font-family: NanumGothic;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -1.4px;
        text-align: center;
        color: #ffffff;
    }

    .inbody .conbox3 { width:500px; table-layout:fixed; margin: 0px auto; }
    .inbody .conbox3 .tit{font-size:15px; font-weight: bold;text-align: center;}
    .inbody .conbox3 td {font-size:12px;text-align:center;border:1px solid #aaa;  background-color:#fff; line-height:26px; vertical-align: middle;font-weight:bold;}
    .inbody .conbox3 th {text-align:center;background-color:#f1f1f1;vertical-align: middle;border:1px solid #aaa; font-size:13px;font-weight:bold;}
    .inbody .conbox3 .tit{height:40px;font-size:15px; font-weight: bold;text-align: center;}
    .inbody .conbox3 .photo{width: 200px;}
    .inbody .conbox3 .rent{margin-top:10px;margin-bottom:10px;text-align: left;font-size: 16px;font-weight: bold;}
    .inbody .conbox3 .red {font-size:12px; font-family:Tahoma, Geneva, sans-serif; color:#F30; font-weight:bold;}
    .inbody .conbox3 .green { font-size:12px;font-family:Tahoma, Geneva, sans-serif; color:#090; font-weight:bold;}
    .inbody .conbox3 .blue { font-size:12px;color:#06F;}
    .inbody .conbox3 .titbox {width:150px;font-size:12px; background-color:#ddd; letter-spacing:-1px;font-family:맑은 고딕,돋움; font-weight:bold;}
    .inbody .conbox3 .date { font-size:12px;border:1px solid #b0b0b0; width:80px; height:17px; color:#000; font-size:12px; padding:3px 0 0 3px; margin:0; background-color:#faf0e5;}
    .inbody .conbox3 .won { font-size:12px;border:1px solid #b0b0b0; width:80px; height:17px; color:#F30; font-size:12px; padding:3px 0 0 3px; margin:0; background-color:#faf0e5;}
    .inbody .conbox3 textarea { font-size:12px;border: #ddd 1px solid; background-color: #faf0e5; margin:5px 0; color:#444; font-family:돋움; font-size:12px; padding:5px;}
    .inbody .conbox3 text{ font-size:12px;height:30px;border: #ddd 1px solid; background-color: #faf0e5; margin:5px 0; color:#444; font-family:돋움; font-size:12px; padding:5px;}
    .inbody .conbox3 td span.price{ font-weight:bold;font-size:12px;color:#f30}