#content{width:1400px;position:relative;}
.quick_wrap{
    width:402px;
    height:77px;
    position:absolute;
    top:20px;
    left:100px;
    background-color:#000;
    opacity: 0.7;
}
.quick_wrap:after{content:"";display:block;clear:both}
.quick_search{
    width:402px;
    height:77px;
    float:left;
    position:absolute;
    top:20px;
    left:100px;
    border-bottom:3px solid #5683e8;

}
.quick_search li{
    float:left;
    text-align: center;
    width:67px;
    padding-left:1px;
    padding-right:1px;
    height:77px;
    cursor: pointer;


}
.quick_search li:nth-child(5){
    float:left;
    text-align: center;
    width:124px;
    padding-left:1px;
    padding-right:1px;
    height:77px;
    cursor: pointer;


}

.quick_search li img.package{
    padding-top:8px;

}
.quick_search li img.rent{
    padding-top:20px;
}
.quick_search li img.air{
    padding-top:16px;
}
.quick_search li img.lodge{
    padding-top:9px;
}
.quick_search li img.bus{
    padding-top:14px;
    position:relative;
    top:0px;
    left:0px;
}

.quick_search li img.taxi{
    padding-top:16px;
    position:relative;
    top:8px;
    left:-7px;
}
.quick_search li span.menu{
    display: block;
    position:relative;
    top:8px;
    color:#fff;
    font-size:15px;
}

.quick_form{display: block; width:400px;height:358px;border-left:1px solid #d7d7d7;border-right:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;position:absolute;background-color:#fff;color:#000;margin-top:3px;left:0px;font-size:13px}
.quick_form li{text-align:left}
.quick_form li:nth-child(1){display: block}
.quick_form li:nth-child(2){display: none}
.quick_form li:nth-child(3){display: none}
.quick_form li:nth-child(4){display: none}
.quick_form li:nth-child(5){display: none}
.quick_form li:nth-child(6){display: none}

/*air*/
.quick_form .air{
    width:370px;
    height:330px;
    margin-top : 10px;
    margin-right: 12px;
    margin-left: 12px;
}
.quick_form .air table {

    width: 100%;
    height: 100%;
}

.quick_form .air td.item-title {
    width: 60px;
    height: 25px;
    padding-left: 5px;
    vertical-align: middle;
}


.quick_form .air td.item-form {
    width: 60px;
    height: 46px;
    vertical-align: middle;
    text-align: center;
}
.quick_form .air td.item-form img{
    position: relative;
    top: -25px;
    left: 80px;
}

.quick_form .air td.item-form-number {
    width: 60px;
    height: 46px;
    vertical-align: middle;
    text-align: center;
}

.quick_form .air td.item-form input {
    width:170px;
    height: 30px;
    line-height : 35px;
    border-radius: 4px;
    border: 1px solid #b3b3b3;
    padding-left: 12px;

}

.quick_form .air td.item-form-number select {
    width: 120px;
    height: 35px;
    line-height : 45px;
    border-radius: 4px;
    border: 1px solid #b3b3b3;
}
.quick_form .air td.item-form select {
    width: 95%;
    height: 35px;
    line-height : 45px;
    border-radius: 4px;
    border: 1px solid #b3b3b3;
}
.quick_form .air input[type="submit"]{
    display: block;
    border:0px;
    width:202px;
    height:48px;
    border-radius:4px;
    vertical-align: middle;
    line-height: 48px;
    background-color:#5583e8;
    color:#fff;
    font-size:17px;
    cursor: pointer;
    margin-right:auto;
    margin-left:auto;}








.quick_form .air .ticket{width:390px;padding-bottom:20px;margin-top:5px}
.quick_form .air .ticket input[type='radio']{display: none}
.quick_form .air .ticket input[type='radio'] +label{color:#3e3e3e;font-size:13px}
.quick_form .air .ticket input[type='radio'] +label span{
    display: inline-block;
    vertical-align: middle;
    position: relative;top:-5px;
    margin-right:10px;margin-top:10px;
    width:18px;height:18px;
    background: url("../main_img/radio_btn.png") -18px top no-repeat ;
    cursor: pointer;
}
.quick_form .air .ticket input[type='radio']:checked + label span{

    background: url("../main_img/radio_btn.png") left top no-repeat ;
    cursor: pointer;
}


.quick_form .air input[type="submit"]{
    border:0px;
    width:202px;
    height:48px;
    border-radius:4px;
    vertical-align: middle;
    line-height: 48px;
    background-color:#5583e8;
    color:#fff;
    font-size:17px;
    cursor: pointer;
}

/*package*/
.quick_form .package{
    width:370px;
    height:330px;
    margin-top : 10px;
    margin-right: 12px;
    margin-left: 12px;
}
.quick_form .package table {

    width: 100%;
    height: 100%;
}

.quick_form .package td.item-title {
    width: 60px;
    height: 25px;
    padding-left: 5px;
    vertical-align: middle;
}


.quick_form .package td.item-form {
    width: 60px;
    height: 46px;
    vertical-align: middle;
    text-align: center;
}
.quick_form .package td.item-form img{
    position: relative;
    top: -25px;
    left: 80px;
}

.quick_form .package td.item-form-number {
    width: 60px;
    height: 46px;
    vertical-align: middle;
    text-align: center;
}

.quick_form .package td.item-form input {
    width: 170px;
    height: 30px;
    padding-left: 12px;
    line-height : 35px;
    border-radius: 4px;
    border: 1px solid #b3b3b3;
    vertical-align: middle;

}

.quick_form .package td.item-form select {
    width: 95%;
    height: 35px;
    line-height : 45px;
    border-radius: 4px;
    border: 1px solid #b3b3b3;
}
.quick_form .package td.item-form-number select {
    width: 120px;
    height: 35px;
    line-height : 45px;
    border-radius: 4px;
    border: 1px solid #b3b3b3;
}

.quick_form .package input[type="submit"]{
    display: block;
    border:0px;
    width:202px;
    height:48px;
    border-radius:4px;
    vertical-align: middle;
    line-height: 48px;
    background-color:#5583e8;
    color:#fff;
    font-size:17px;
    cursor: pointer;
    margin-right:auto;
    margin-left:auto;}


/*rent*/
.quick_form .rent{
    width:370px;
    height:330px;
    margin-top : 10px;
    margin-right: 12px;
    margin-left: 12px;
}
.quick_form .rent table {

    width: 100%;
    height: 100%;
}

.quick_form .rent td.item-title {
    width: 60px;
    height: 25px;
    padding-left: 5px;
    vertical-align: middle;
}


.quick_form .rent td.item-form {
    width: 60px;
    height: 46px;
    vertical-align: middle;

}
.quick_form .rent td.item-form img{
    position: relative;
    top: 0px;
    left: -20px;
}
.quick_form .rent td.item-form-time {
    width: 145px;
    height: 46px;
    vertical-align: middle;
}

.quick_form .rent td.item-form input {
    width: 170px;
    height: 30px;
    line-height : 35px;
    padding-left: 12px;
    border-radius: 4px;
    border: 1px solid #b3b3b3;

}

.quick_form .rent td.item-form select {
    width: 95%;
    height: 35px;
    line-height : 45px;
    border-radius: 4px;
    border: 1px solid #b3b3b3;
}
.quick_form .rent td.item-form-time select {
    width: 60px;
    height: 35px;
    line-height : 45px;
    border-radius: 4px;
    border: 1px solid #b3b3b3;
    vertical-align: middle;
}

.quick_form .rent input[type="submit"]{
    display: block;
    border:0px;
    width:202px;
    height:48px;
    border-radius:4px;
    vertical-align: middle;
    line-height: 48px;
    background-color:#5583e8;
    color:#fff;
    font-size:17px;
    cursor: pointer;
    margin-right:auto;
    margin-left:auto;}




.quick_form .lodge{
    width:370px;
    height:330px;
    margin-top : 10px;
    margin-right: 12px;
    margin-left: 12px;
}
.quick_form .lodge table {

    width: 100%;
    height: 100%;
}

.quick_form .lodge td.item-title {
    width: 60px;
    height: 25px;
    padding-left: 5px;
    vertical-align: middle;
}


.quick_form .lodge td.item-form {
    width: 60px;
    height: 46px;
    vertical-align: middle;
    text-align: center;
}
.quick_form .lodge td.item-form img{
    position: relative;
    top: -25px;
    left: 80px;
}
.quick_form .lodge td.item-form input {
    width: 170px;
    height: 30px;
    line-height : 35px;
    border-radius: 4px;
    border: 1px solid #b3b3b3;
    padding-left: 12px;


}

.quick_form .lodge td.item-form select {
    width: 95%;
    height: 35px;
    line-height : 45px;
    border-radius: 4px;
    border: 1px solid #b3b3b3;
}

.quick_form .lodge input[type="submit"]{
    display: block;
    border:0px;
    width:202px;
    height:48px;
    border-radius:4px;
    vertical-align: middle;
    line-height: 48px;
    background-color:#5583e8;
    color:#fff;
    font-size:17px;
    cursor: pointer;
    margin-right:auto;
    margin-left:auto;}


/*버스 택시 검색창 */

.quick_form .bustaxi{
    width:370px;
    height:330px;
    margin-top : 10px;
    margin-right: 12px;
    margin-left: 12px;
}
.quick_form .bustaxi table {
    width: 100%;
    height: 100%;
}

.quick_form .bustaxi td.item-title {
    width: 60px;
    height: 25px;
    padding-left: 5px;
    vertical-align: middle;
}


.quick_form .bustaxi td.item-form {
    width: 60px;
    height: 46px;
    vertical-align: middle;

}
.quick_form .bustaxi td.item-form img{
    position: relative;
    top: 0px;
    left: -20px;
}
.quick_form .bustaxi td.item-form input {
    width: 200px;
    height: 30px;
    line-height : 35px;
    padding-left: 10px;
    border-radius: 4px;
    border: 1px solid #b3b3b3;

}

.quick_form .bustaxi td.item-form select {
    width: 170px;
    height: 35px;
    line-height : 45px;
    border-radius: 4px;
    border: 1px solid #b3b3b3;
}
.quick_form .bustaxi div.date input[type='text']{
    width:135px;
    height:35px;
    border:1px solid #c8c8c8;
    padding-left:12px;
    font-size:16px;
    color:#7d7d7d;
    margin-left:12px;
    border-radius: 4px;
    background: #fff;

}
.quick_form .bustaxi input[type="submit"]{
    display: block;
    border:0px;
    width:202px;
    height:48px;
    border-radius:4px;
    vertical-align: middle;
    line-height: 48px;
    background-color:#5583e8;
    color:#fff;
    font-size:17px;
    cursor: pointer;
    margin-right:auto;
    margin-left:auto;}
/*     .quick_form .bustaxi .ticket{width:390px;padding-bottom:20px;margin-top:5px} */
.quick_form .bustaxi .ticket input[type='radio']{display: none}
.quick_form .bustaxi .ticket input[type='radio'] +label{color:#3e3e3e;font-size:13px}
.quick_form .bustaxi .ticket input[type='radio'] +label span{
    display: inline-block;
    vertical-align: middle;
    position: relative;top:-5px;
    margin-right:10px;margin-top:10px;
    width:18px;
    height:18px;
    background: url("../main_img/radio_btn.png") -18px top no-repeat ;
    cursor: pointer;
}
.quick_form .bustaxi .ticket input[type='radio']:checked + label span{

    background: url("../main_img/radio_btn.png") left top no-repeat ;
    cursor: pointer;
}


/* 06-16 퀵폼  bustaxi 스타일 추가 */
/*   .quick_form .bustaxi {width:390px;margin-top:20px;}
  .quick_form .bustaxi p{width:100px;margin:0;padding:0;text-align:left}
  .quick_form .bustaxi p:after{content:"";display: block;clear: both}
  .quick_form .bustaxi p.close img{position: absolute;right:5px;top:5px}

  .quick_form .bustaxi span{color:#3f3f3f;font-size;13px;display:inline-block;margin-bottom:6px;margin-left:12px}
  .quick_form .bustaxi select.lsel{width:92px;line-height:35px;height:35px;vertical-align: middle;
      border:1px solid #c8c8c8;color:#4f576c;font-size:12px;padding-left:12px;margin-left:12px;display:block;
       background:url(../main_img/down_arrow_main.png) no-repeat 95% 50%;
       -webkit-appearance: none;
       -moz-appearance: none; appearance: none; }
   select::-ms-expand { display: none; }

  .quick_form .bustaxi .ticket{width:390px;padding-bottom:20px;margin-top:5px}
  .quick_form .bustaxi .ticket input[type='radio']{display: none}
  .quick_form .bustaxi .ticket input[type='radio'] +label{color:#3e3e3e;font-size:13px}
  .quick_form .bustaxi .ticket input[type='radio'] +label span{
      display: inline-block;
      vertical-align: middle;
      position: relative;top:-5px;
      margin-right:10px;margin-top:10px;
      width:18px;height:18px;
      background: url("../main_img/radio_btn.png") -18px top no-repeat ;
      cursor: pointer;
  }
  .quick_form .bustaxi .ticket input[type='radio']:checked + label span{

      background: url("../main_img/radio_btn.png") left top no-repeat ;
      cursor: pointer;
  }

  .quick_form .bustaxi .middle{width:100%;height:60px;margin-bottom:20px}
  .quick_form .bustaxi .middle p{float:left}
  .quick_form .bustaxi .tail {clear:both;width:100%;height:60px;margin-left:10px}
  .quick_form .bustaxi .tail p{width:50%;float:left}
                                        .quick_form .bustaxi .tail p input[type="text"]{border:1px solid #d6d9e0;height:30px}
                                        .quick_form .bustaxi .tail p img{position:relative;left:-20px;top:9px}            .quick_form .bustaxi .tail p span.tit{position:relative;left:-11px}
  .quick_form .bustaxi .tail p select{position:relative;top:18px}
  .quick_form .bustaxi input[type="submit"]{border:0px;width:202px;height:48px;border-radius:4px;vertical-align: middle;line-height: 48px;background-color:#5583e8;color:#fff;font-size:17px;cursor: pointer;position:relative;top:37px;left:12px}
*/

/* 06-16 퀵폼  bustaxi 스타일 추가 */




#content p.head{clear:both;text-align:center;padding-top:50px;padding-bottom:37px;font-size:28px;font-weight:bold}
#content .best_goods {width:1200px;margin:0 auto}
#content .best_goods:after{content:"";display:block;clear:both}
#content .best_goods img{width:260px;height:190px}
#content .best_goods li {width:281px;height:330px;border:1px solid #cfcfcf;margin-right:22.5px;margin-bottom:33px;float:left}
#content .best_goods li:nth-child(4n){margin-right:0px}
#content .best_goods li img{padding-left:10px;padding-top:10px;padding-bottom:24px}
#content .best_goods li p.tit{padding-left:10px;padding-bottom:10px;font-size:14px;font-family:'돋움',dotum;color:#242424;font-weight:bold}
#content .best_goods li p.kind{padding-left:10px;padding-bottom:20px;color:#9d9d9d;font-size:12px;font-family:'돋움',dotum}
#content .best_goods li p.tail{padding-left:10px;width:100%;}

#content .best_goods li p.tail span:nth-child(1){position:relative;top:0px;left:0px;font-size:40px; color:#ff5722}
#content .best_goods li p.tail span:nth-child(2){position:relative;top:0px;left:0px;font-size:20px; color:#ff5722}
#content .best_goods li p.tail span:nth-child(3){float:right;position:relative;left:-23px;top:-2px;color:#b0b0b0;font-size:13px;font-family:'돋움',dotum;text-decoration: line-through}
#content .best_goods li p.tail span:nth-child(4){position:relative;left:94px;top:0px;color:#000000;font-size:19px;font-weight: bold}
/*#content .best_goods li p.tail span:nth-child(3){position:relative;left:145px;top:-28px;color:#b0b0b0;font-size:13px;font-family:'돋움',dotum;text-decoration: line-through}
#content .best_goods li p.tail span:nth-child(4){display:inline-block;width:140px;position:relative;left:52px;top:0px;color:#000000;font-size:19px;font-weight: bold}*/

.aside_wrap{width:100%;background-color:#f0f0f0}
.aside{width:1200px;height:186px;margin:0 auto;background-color:#f0f0f0;text-align:center;margin-top:37px}
.aside:after{content:"";display:block;clear:both}
.aside li{float:left;text-align:center;padding-top:36px;width:86px;text-align:center;margin-right:55px;position:relative;left:209px}
.aside li span{display:block;width:100%;;font-size:12px;margin-top:12px;color:#000}