
/* 로그인 */
#content .login{width:1200px;height:438px;border:1px solid #d0d0d0;margin: 47px auto}
#content .login .lcon{width:598px;float:left;}
#content .login .lcon p.tit{color:#000;font-size:35px;font-weight:bold;padding-left:92px;padding-top:54px;}
#content .login .lcon input[type="text"]{width:410px;height:51px;border:1px solid #000;color:#666;font-size: 16px;padding-left:15px;margin-left:92px;margin-top:46px;margin-bottom: 12px;}
#content .login .lcon input[type="password"]{width:410px;height:51px;border:1px solid #000;color:#666;font-size: 16px;padding-left:15px;margin-left:92px;}
#content .login .lcon img{margin-left:92px;margin-top:30px}
#content .login .lcon div.find{width:600px;text-align:center;margin-top:54px}
#content .login .lcon div.find a {color:#666;font-size:16px;font-weight:normal}
#content .login .lcon div.find span{color:#666;font-size:16px;font-weight:normal;padding-left:2px;padding-right:2px}
#content .login .bar{width:2px;height:347px;float:left;margin-top:46px;border:1px solid #000;border-right:none;border-top:none;border-bottom:none}
#content .login .rcon{width:598px;float:left}
#content .login .rcon p.tit{color:#000;font-size:35px;font-weight:bold;padding-left:92px;padding-top:54px;padding-bottom:46px}
#content .login .rcon p.tit_con{color:#000;font-size:16px;font-weight:bold;padding-left:92px;padding-bottom:46px}#content .login .rcon input[type="text"]{width:407px;height:51px;border:1px solid #000;color:#666;font-size: 16px;padding-left:15px;margin-left:92px;margin-bottom:10px}
#content .login .rcon input[type="text"].auth{width:296px;height:51px;border:1px solid #000;color:#666;font-size: 16px;padding-left:15px;margin-left:92px;margin-bottom:10px}
#content .login .rcon img.auth_btn{vertical-align: top}
#content .login .rcon input[type="image"]{margin-left:92px;}


/* 아이디 찾기 */
.idfind{width:450px;margin: 47px auto;position:relative}
.idfind p.tit{color:#000;font-size:35px;font-weight:bold;}
.idfind p.txt{color:#666;font-size:16px;margin:20px 0}
.idfind p.subtxt{color:#666;font-size:14px;line-height:24px;border-top:1px solid #d0d0d0;margin-top:20px;padding:10px}
.idfind p.subtxt span.b{font-weight:bold;color:#000}
.idfind input[type="text"]{width:432px;height:51px;border:1px solid #d0d0d0;color:#666;font-size: 16px;padding-left:15px;margin-bottom:10px;display:block}
.idfind input[type="text"].tel{width:432px;height:51px;border:1px solid #d0d0d0;color:#666;font-size: 16px;padding-left:15px;margin-bottom:10px;display:block}
.idfind input[type="submit"]{width:450px;height:51px;background-color:#4a78cd;color:#666;font-size: 16px;padding-left:15px;margin-bottom:10px;display:block;border:none;color:#fff;cursor: pointer;border-radius:3px}
.idfind .idtit {position:absolute;left:15px;top:110px;}
.idfind input[type="text"].idpad{padding-left:50px}
.idfind .pwfind{background-color:#4a78cd;color:#fff;position: absolute;left:376px;top:56px;width:100px;height:30px;border:none;cursor: pointer}
.idfind .email_auth{background-color:#4a78cd;color:#fff;width:484px;height:55px;border:none;cursor: pointer;margin-bottom:10px;font-size:16px;border-radius:3px}
.idfind .cell_auth{background-color:#4a78cd;color:#fff;width:484px;height:55px;border:none;cursor: pointer;font-size:16px;border-radius:3px}
.idfind input[type="text"].emailpad{text-align: center;font-weight: bold}
.idfind ul.txt{list-style: disc;position:relative;left:20px}
.idfind ul.txt li{margin-bottom:10px;color:#000;font-size:12px;}
.idfind .login_go{background-color:#4a78cd;color:#fff;width:450px;height:55px;border:none;cursor: pointer;margin-bottom:10px;font-size:16px;border-radius:3px}
.idfind .main_go{background-color:#4a78cd;color:#fff;width:450px;height:55px;border:none;cursor: pointer;margin-bottom:10px;font-size:16px;border-radius:3px}
.idfind .sms_time_more{background-color:#4a78cd;color:#fff;width:100px;height:30px;border:none;cursor: pointer;border-radius:3px}
.idfind .sms_remore{background-color:#4a78cd;color:#fff;width:120px;height:30px;border:none;cursor: pointer;border-radius:3px}
.idfind .idfind_btn{background-color:#4a78cd;color:#fff;width:450px;height:55px;border:none;cursor: pointer;margin-bottom:10px;font-size:16px;border-radius:3px}

/* 비밀번호 찾기 */
.pwfind{width:450px;margin: 47px auto;}
.pwfind p.tit{color:#000;font-size:35px;font-weight:bold;}
.pwfind p.txt{color:#666;font-size:16px;margin:20px 0}
.pwfind p.subtxt{color:#666;font-size:14px;line-height:24px;border-top:1px solid #d0d0d0;margin-top:20px;padding:10px 0}
.pwfind p.subtxt span.b{font-weight:bold;color:#000}
.pwfind input[type='radio']{display: none}
.pwfind input[type='radio'] +label{color:#3e3e3e;font-size:16px}
.pwfind input[type='radio'] +label span{
    display: inline-block;
    vertical-align: middle;
    position: relative;top:-5px;
    margin-right:10px;margin-top:10px;
    width:18px;height:18px;
    background: url("../sub_img/radio_btn.png") -18px top no-repeat ;
    cursor: pointer;
}
.pwfind input[type='radio']:checked + label span{

    background: url("../sub_img/radio_btn.png") left top no-repeat ;
    cursor: pointer;
}
.pwfind input[type="text"]{width:432px;height:51px;border:1px solid #d0d0d0;color:#666;font-size: 16px;padding-left:15px;margin-bottom:10px;display:block}
.pwfind input[type="text"].tel{width:432px;height:51px;border:1px solid #d0d0d0;color:#666;font-size: 16px;padding-left:15px;margin-bottom:10px;display:block}
.pwfind input[type="password"]{width:432px;height:51px;border:1px solid #d0d0d0;color:#666;font-size: 16px;padding-left:15px;margin-bottom:10px;display:block}
.pwfind input[type="submit"]{width:450px;height:51px;background-color:#4a78cd;color:#666;font-size: 16px;padding-left:15px;margin-bottom:10px;margin-top:10px;display:block;border:none;color:#fff;cursor: pointer;border-radius:3px}
.pwfind .main_go{background-color:#4a78cd;color:#fff;width:450px;height:55px;border:none;cursor: pointer;margin-bottom:10px;font-size:16px;border-radius:3px}
.pwfind .login_go{background-color:#4a78cd;color:#fff;width:450px;height:55px;border:none;cursor: pointer;margin-bottom:10px;margin-top:30px;font-size:16px;border-radius:3px}
.pwfind .pwfind_btn{background-color:#4a78cd;color:#fff;width:450px;height:55px;border:none;cursor: pointer;margin-bottom:10px;font-size:16px;border-radius:3px}
.pwfind .sms_time_more{background-color:#4a78cd;color:#fff;width:100px;height:30px;border:none;cursor: pointer;border-radius:3px}
.pwfind .sms_remore{background-color:#4a78cd;color:#fff;width:120px;height:30px;border:none;cursor: pointer;border-radius:3px}
/* 회원가입*/
.regist{width:900px;margin: 47px auto;}
.regist:after{content:"";display: block;clear: both}
.regist p.tit{color:#000;font-size:35px;font-weight:bold;margin-bottom:47px;}
.regist span.txt{color:#666;font-size:16px;margin:20px 0;font-weight: normal}
.regist p.subtxt span.b{font-weight:bold;color:#000}
.regist .tit_bar{width:100%;}
.regist .tit_bar ul {float:left;width:900px;margin-bottom:20px}
.regist .tit_bar ul li{float:left;width:449px;height:45px;line-height:45px;text-align:center;}
.regist .tit_bar ul li.select {background-color:#4a78cd;color:#fff;border-top:1px solid #4a78cd;border-left:1px solid #4a78cd;border-bottom:1px solid #4a78cd;}
.regist .tit_bar ul li.aselect {background-color:#fff;color:#666;border-top:1px solid #d0d0d0;border-right:1px solid #d0d0d0;border-bottom:1px solid #d0d0d0;}
.regist .tit_bar ul li.bselect {background-color:#fff;color:#666;border-top:1px solid #d0d0d0;border-left:1px solid #d0d0d0;border-bottom:1px solid #d0d0d0;}
.regist .agreebox{width:420px;float:left;margin-bottom:7px;padding:12px;background-color:#f7f7f7;border:1px solid #d9d9d9;border-radius: 3px}
.regist .agreebox P{color:#000;font-size:16px;font-weight:bold;padding:10px 0}
.regist .agreebox:nth-child(1n){margin-right:7px}
.regist .agreebox:nth-child(2n){margin-right:0px}
.regist .agreebox input[type="checkbox"]{float:right;width:20px;height:20px;vertical-align: middle}
.regist .agreebox .agree {width:420px;height:190px;overflow-y: scroll;line-height:23px;color:#666;font-size:14px}
.regist .allcheck{text-align: center}
.regist .allcheck input[type="checkbox"]{width:20px;height:20px;vertical-align: middle}
.regist .next{text-align: center;margin:20px 0}
.regist button{width:150px;height:50px;border:none;background-color:#4a78cd;color:#fff;font-size:20px;cursor: pointer}

.regist .input_area{width:420px;margin:130px auto}
.regist .input_area .round{border:1px solid #d9d9d9;border-radius:3px;margin-bottom:20px;height: auto;position:relative;font-size:14px}
.regist .input_area .round input[type="text"]{width:405px;height:45px;padding-left:12px;border:none;font-size:16px;color:#666}
.regist .input_area .round input[type="text"].name{width:405px;height:45px;padding-left:12px;border:none;font-size:16px;border-bottom:1px solid #d9d9d9;color:#666}
.regist .input_area .round input[type="text"].birth{width:405px;height:45px;padding-left:12px;border:none;font-size:16px;border-bottom:1px solid #d9d9d9;color:#666}
.regist .input_area .round input[type="password"]{width:405px;height:45px;padding-left:12px;border:none;font-size:16px;color:#666;}
.regist .input_area .round input[type="password"].pw{border-bottom:1px solid #d9d9d9;color:#4f576c;}
.regist .input_area .round p.gender {position:absolute;right:10px;top:10px}
.regist .input_area .round p.slcalendar {position:absolute;right:10px;top:60px}
.regist .input_area input[type='radio']{display: none}
.regist .input_area input[type='radio'] +label{color:#666;font-size:16px}
.regist .input_area input[type='radio'] +label span{
    display: inline-block;
    vertical-align: middle;
    position: relative;top:-5px;
    margin-right:10px;margin-top:10px;
    width:18px;height:18px;
    background: url("../sub_img/radio_btn.png") -18px top no-repeat ;
    cursor: pointer;
}
.regist .input_area input[type='radio']:checked + label span{

    background: url("../sub_img/radio_btn.png") left top no-repeat ;
    cursor: pointer;
}
.regist .input_area .round select.lsel{width:417px;line-height:36px;height:36px;vertical-align: middle;
    border:1px solid #fff;color:#666;font-size:16px;margin-top:5px;margin-bottom:5px;padding-left:12px;margin-right:56px;
    background:url(../sub_img/down_arrow.png) no-repeat 95% 50%;cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none; appearance: none; }
select::-ms-expand { display: none; }
.regist .input_area .none_ar{text-align: center}
.regist .input_area .none_ar span.tit_tel{display:inline-block;margin-right:5px;color:#666;font-size:16px}
.regist .input_area .none_ar span.tit_email{display:inline-block;margin-right:10px;color:#666;font-size:16px}
.regist .input_area .none_ar span.tit_spam{display:inline-block;margin-right:10px;color:#666;font-size:12px}
.regist .input_area .none_ar span.tit_code{margin-right:10px;color:#666;font-size:12px}
.regist .input_area .none_ar input[type="text"]{width:70px;border:1px solid #d9d9d9;border-radius: 3px;line-height:26px;height:26px;vertical-align: middle;padding-left:12px;color:#666}
.regist .input_area .none_ar input[type="text"].email{width:332px;border:1px solid #d9d9d9;border-radius: 3px;line-height:36px;height:36px;vertical-align: middle;padding-left:12px;color:#666;margin-top:15px}
.regist .input_area .none_ar_ck {margin-top:25px;color:#666;font-size:16px}
.regist .input_area .none_ar_ck input[type="checkbox"]{width:20px;height:20px;vertical-align: middle;}
.regist .input_area input[type="button"]{width:150px;height:50px;border:none;background-color:#4a78cd;color:#fff;font-size:20px;cursor: pointer;border-radius: 3px;margin-top:20px}