    #content .search .search_tit{width:1400px;padding-top:38px;padding-bottom:29px;}
    #content .search .search_tit:after{content:"";display:inline-block;clear: both}
    #content .search .search_tit span.mar {margin-left:100px}
    #content .search .search_tit span{display:inline-block;width:472px;height:12px;background-image:url("../sub_img/bar.png");float:left}
    #content .search .search_tit img{display:inline-block;float:left;vertical-align: middle}
    #content .search .search_tit h3{font-size:28px;float:left;position: relative;top:-10px;padding-left:30px;padding-right:30px}
    #content .search .search_bar .btn{position: relative;}
    #content .search .search_bar .btn img{position:absolute; top:26px;left:1050px;cursor: pointer;}
    #content .search .search_bar{width:1200px;height:100px;border-top:3px solid #5683e8;border-bottom:1px solid #d7d7d7;
     border-left:1px solid #d7d7d7;border-right:1px solid #d7d7d7;margin:0 auto;}
    #content .search .search_bar:after{content:"";display:block;clear:both}
    #content .search .search_bar ul{float:left;position:relative}
    #content .search .search_bar ul li{float:left;}
    #content .search .search_bar ul li:nth-child(1){position:absolute;left:22px;top:25px}
    #content .search .search_bar ul li:nth-child(2){position:absolute;left:190px;top:25px}
    #content .search .search_bar ul li:nth-child(3){position:absolute;left:365px;top:25px}
    #content .search .search_bar ul li:nth-child(4){position:absolute;left:492px;top:25px}
    #content .search .search_bar ul li:nth-child(5){position:absolute;left:610px;top:25px}
    #content .search .search_bar ul li:nth-child(6){position:absolute;left:726px;top:25px}
    #content .search .search_bar ul li:nth-child(7){position:absolute;left:856px;top:25px}
    #content .search .search_bar ul li:nth-child(8){position:absolute;left:1052px;top:25px}
    #content .search .search_bar ul li p{color:#000;font-size:14px;}
    #content .search .search_bar ul li img{position:absolute;top:26px;right:10px}
    #content .search .search_bar ul li p span{color:#3D3D3D;font-size:12px;font-weight: normal;position:relative;left:5px}
    #content .search .search_bar ul li p span.sp{position: relative;left:17px}
    #content .search .search_bar ul li input[type="text"]{width:137px;height:27px;line-height:27px;border:1px solid #d6d9e0;color:#000;position:relative;top:5px;padding-left:9px}
    #content .search .search_bar ul li select.lsel{width:106px;line-height:31px;height:31px;vertical-align: middle;

        border:1px solid #d6d9e0;color:#000;font-size:12px;margin-top:5px;margin-bottom:5px;padding-left:12px;
         background:url(../sub_img/down_arrow.png) no-repeat 95% 50%;
	     -webkit-appearance: none; 
	     -moz-appearance: none; appearance: none; }
    select::-ms-expand { display: none; }
    #content .search .search_bar ul li select.lsel2{width:172px;line-height:31px;height:31px;vertical-align: middle;
        border:1px solid #d6d9e0;color:#000;font-size:12px;margin-top:5px;margin-bottom:5px;padding-left:12px;
         background: url(../sub_img/down_arrow.png) no-repeat 95% 50%;
	     -webkit-appearance: none; 
	     -moz-appearance: none; appearance: none; }
    select::-ms-expand { display: none; }

    /*2018-06-10 추가 또는 수정 부분 시작 */
    #content .search_list .tit{width:1200px;height:50px;line-height:50px;font-size:20px;border-bottom:1px solid #e8e9ea;margin:0 auto;text-align: center;background-color:#7293c9;color:#fff}
    /*2018-06-10 추가 또는 수정 부분 끝*/
    #content .search_list .tit img{display: inline-block;vertical-align: middle}
    #content .search_list table.table_list {width:1200px;margin:0 auto}
    #content .search_list table.table_list th{padding-left:27px;border-left:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;border-right:1px solid #d7d7d7;background:#f6fafe;width:215px;line-height:44px;text-align: left;vertical-align: middle;}
    #content .search_list table.table_list th span.gray{color:#000000;padding-right:10px}
    #content .search_list table.table_list th span.b{color:#ff5000;}
    #content .search_list table.table_list th span.arrow{padding-left:10px;padding-right:10px;color:#666}
    #content .search_list table.table_list th img.arrow{vertical-align: middle;position: relative;left:10px}
    #content .search_list table.table_list td{padding-left:37px;border-left:1px solid #d7d7d7;;border-bottom:1px solid #d7d7d7;;border-right:1px solid #d7d7d7;vertical-align: middle;line-height:30px}
    #content .search_list table.table_list td p.data{display: inline-block;width:600px}
    #content .search_list table.table_list td span.blue{color:#0a84c3;padding-right:8px;font-size:14px}
    #content .search_list table.table_list td img.air_mark{vertical-align: middle;margin-left:-5x;margin-right:8px}
    #content .search_list table.table_list td span.date{font-family:"돋움",Dotum,sans-serif;padding-left:5px;font-size:13px}
    #content .search_list table.table_list td span.time{font-family:"돋움",Dotum,sans-serif;color:#ff5000;font-size:12px}
    #content .search_list table.table_list td span.arrow{padding-left:10px;padding-right:10px;color:#666}
    #content .search_list table.table_list td span.select_none{font-family:"돋움",Dotum,sans-serif;color:#737373;font-size:12px}
    #content .search_list table.table_list td img.goods_upt{vertical-align: middle;margin-left:25px}
    /*#content .search_list ul {width:1200px;margin:0 auto;}
    #content .search_list ul li {background-color:#ffffff;height:44px;border-bottom:1px solid #d7d7d7;;border-right:1px solid #d7d7d7}
    #content .search_list ul li img.arrow{vertical-align: middle;position: relative;left:10px}
    #content .search_list ul li img.air_mark{vertical-align: middle;margin-left:-5x;margin-right:8px}
    #content .search_list ul li p{display: inline-block;background:#fff;}
    #content .search_list ul li p.head{padding-left:27px;border-left:1px solid #d7d7d7;border-right:1px solid #d7d7d7;background:#f6fafe;width:215px;height:44px;line-height:44px}
    #content .search_list ul li p.tail{margin-left:37px}
    #content .search_list ul li span.txt{color:#666666;font-size:14px}
    #content .search_list ul li span.gray{color:#000000;padding-right:10px}
    #content .search_list ul li span.b{color:#ff5000;}
    #content .search_list ul li span.blue{color:#0a84c3;padding-right:8px;font-size:14px}
    #content .search_list ul li span.date{font-family:"돋움",Dotum,sans-serif;padding-left:5px;font-size:12px}
    #content .search_list ul li span.time{font-family:"돋움",Dotum,sans-serif;color:#ff5000;font-size:12px}
    #content .search_list ul li span.arrow{padding-left:10px;padding-right:10px;color:#666}
    #content .search_list ul li span.select_none{font-family:"돋움",Dotum,sans-serif;color:#c4c4c4;font-size:12px}
    #content .search_list ul li img.goods_upt{vertical-align: middle;margin-left:25px}*/
    #content .search_list .total_price{border-bottom:1px solid #d7d7d7;width:800px;height:103px;margin:0 auto;text-align: center}
    #content .search_list .total_price p span:nth-child(1){color:#000;font-size:20px;padding-right:14px;vertical-align: middle}
    #content .search_list .total_price p span:nth-child(2){color:#ff5000;font-size:30px;font-weight: bold;vertical-align: middle}
    #content .search_list .total_price img{position:relative;left:40px;top:24px}

    #content .package_tabmenu{width:1200px;margin:40px auto;}
    #content .package_tabmenu:after{content:"";display:block;clear: both}
    #content .package_tabmenu ul.tab {float:left;width:1200px;border-bottom:2px solid #000}
    #content .package_tabmenu ul li {float:left;width:120px;height:50px;border-left:1px solid #dfdfdf;border-top:1px solid #dfdfdf;border-bottom:none}
    #content .package_tabmenu ul li:last-child{border-right:1px solid #dfdfdf}
    #content .package_tabmenu ul li.select{background-color:#4474cc}
    #content .package_tabmenu ul li a {color:#fff;display:inline-block;width:120px;height:50px;text-align: center;line-height: 50px}
    #content .package_tabmenu ul li a.rent,#content .package_tabmenu ul li a.bus,#content .package_tabmenu ul li a.golf,#content .package_tabmenu ul li a.lodge{color:#000}
    #content .package_tabmenu .area{clear:both;float:left;width:1200px;}
/*  #content .package_tabmenu .area .air_area{position: absolute}
    #content .package_tabmenu .area .rent_area{position: absolute;display:none}
    #content .package_tabmenu .area .lodge_area{position: absolute;display:none}*/
    #content .package_tabmenu .area .rent_area{display:none}
    #content .package_tabmenu .area .lodge_area{display:none}
    #content .package_tabmenu .area .bus_area{display:none}
    #content .package_tabmenu .area .golf_area{display:none}
    #content .package_tabmenu .air_area .air_search .event {width:1200px;height:73px;line-height:73px;border-bottom:1px solid #dfdfdf;}
    #content .package_tabmenu .air_area .air_search .event p{width:100%;float:left;font-size:16px;font-weight: bold;padding-left:24px}
    #content .package_tabmenu .air_area .air_search .event p b{padding-left:5px; padding-right:25px}

 	#content .package_tabmenu .area .air_area th{font-family:"돋움",Dotum,sans-serif;font-weight:bold;height:71px;line-height:71px;border-bottom:1px solid #dfdfdf}
	#content .package_tabmenu .area .air_area th span{font-family:"돋움",Dotum,sans-serif;color:#e756a8}
	#content .package_tabmenu .area .air_area td {font-family:"돋움",Dotum,sans-serif;text-align:center;border-bottom:1px solid #B4B4B4}
    #content .package_tabmenu .area .air_area tr.odd:hover{background-color:#f6fafe}
	/*#content .package_tabmenu .area .air_area tr.odd:nth-child(odd){background-color:#f6fafe}*/
	#content .package_tabmenu .area .air_area td p{font-family:"돋움",Dotum,sans-serif;color:#666;font-size:12px;vertical-align:middle}
    #content .package_tabmenu .area .air_area td p span {font-family:"돋움",Dotum,sans-serif;}
	#content .package_tabmenu .area .air_area td p span.b {font-weight:bold}
	#content .package_tabmenu .area .air_area td p span.time{color:#ff5000;font-weight:bold;font-size:16px}
	#content .package_tabmenu .area .air_area td p span.dis{color:#e80000;font-weight:bold}
	#content .package_tabmenu .area .air_area td p span.strike{text-decoration:line-through;color:#acacac}
	#content .package_tabmenu .area .air_area td p span.disprice{color:#ff5000;font-weight:bold}
	#content .package_tabmenu .area .air_area td p span.position{position:relative;top:-17px}
	#content .package_tabmenu .area .rent_area .rent_search{width:1200px;height:164px;margin:0 auto;position:relative;}
	#content .package_tabmenu .area .rent_area .rent_search .event{border-bottom:1px solid #dfdfdf;width:1200px;height:72px;margin:0 auto}
    #content .package_tabmenu .area .rent_area .rent_search .event p{font-weight:bold;font-size:16px;margin-left:24px;position:absolute;top:15px;left:0px}
    #content .package_tabmenu .area .rent_area .rent_search .event select.sel{width:152px;line-height:29px;height:29px;vertical-align: middle;
        border:1px solid #d6d9e0;color:#4f576c;font-size:12px;margin-top:5px;margin-bottom:5px;padding-left:12px;margin-left:10px;margin-right:56px;
         background:url(../sub_img/down_arrow.png) no-repeat 95% 50%;
	     -webkit-appearance: none; 
	     -moz-appearance: none; appearance: none; }
    select::-ms-expand { display: none; }
	 #content .package_tabmenu .area .rent_area .rent_search .event select.lsel{width:172px;line-height:29px;height:29px;vertical-align: middle;
        border:1px solid #d6d9e0;color:#4f576c;font-size:12px;margin-top:5px;margin-bottom:5px;padding-left:12px;margin-left:10px;
         background:url(../sub_img/down_arrow.png) no-repeat 95% 50%;
	     -webkit-appearance: none; 
	     -moz-appearance: none; appearance: none; }
    select::-ms-expand { display: none; }
	 #content .package_tabmenu .area .rent_area .rent_search .search select.ssel{width:62px;line-height:29px;height:29px;vertical-align: middle;
        border:1px solid #d6d9e0;color:#4f576c;font-size:12px;margin-top:5px;margin-bottom:5px;padding-left:12px;position:relative;left:-16px;
         background:url(../sub_img/down_arrow.png) no-repeat 95% 50%;
	     -webkit-appearance: none; 
	     -moz-appearance: none; appearance: none; }
    select::-ms-expand { display: none; }

	#content .package_tabmenu .area .rent_area .rent_search .search{width:1200px;height:82px;margin:0 auto;background-color:#f6fafe}
	#content .package_tabmenu .area .rent_area .rent_search .search p {margin-left:18px;position:relative}
	#content .package_tabmenu .area .rent_area .rent_search .search p span.head{color:#f44344;font-weight:bold;font-size:16px}
	#content .package_tabmenu .area .rent_area .rent_search .search input[type="text"]{width:148px;height:25px;border:1px solid #d6d9e0;position:relative;top:30px;background-color:#f6fafe;vertical-align:top;}
	#content .package_tabmenu .area .rent_area .rent_search .search input[type="text"].stext{width:40px;position:relative;top:30px;text-align:center;color:#ff5000;margin-right:5px}
	#content .package_tabmenu .area .rent_area .rent_search .search img{position:relative;top:4px;left:-23px}
	#content .package_tabmenu .area .rent_area .rent_search .search .btn{position:relative;left:48px;top:18px}
	#content .package_tabmenu .area .rent_area .car_list{width:1200px;margin:0 auto;margin-top:10px}
	#content .package_tabmenu .area .rent_area .car_list ul {float:left;}
	#content .package_tabmenu .area .rent_area .car_list ul li{float:left;box-sizng: border-box;width:283px;height:375px;margin-right:5px;margin-bottom:20px;border:1px solid #cfcfcf;}
    #content .package_tabmenu .area .rent_area .car_list ul li:hover{box-sizng: border-box;width:281px;height:373px;border:2px solid #5583e8;}
	#content .package_tabmenu .area .rent_area .car_list ul li p{text-align:center}
	#content .package_tabmenu .area .rent_area .car_list ul li p:nth-child(2){font-size:16px;font-weight:bold;margin-top:22px}
	#content .package_tabmenu .area .rent_area .car_list ul li p:nth-child(3){font-size:16px;color:#ff5722;margin-top:10px}
	#content .package_tabmenu .area .rent_area .car_list ul li p:nth-child(4){font-size:16px;color:#989898;margin-top:10px}
	#content .package_tabmenu .area .rent_area .car_list ul li p:nth-child(5) {position:relative}
	#content .package_tabmenu .area .rent_area .car_list ul li p:nth-child(5) span:nth-child(1){color:#ff5722;font-weight:bold;font-size:40px;position:absolute;left:16px;bottom:-83px}
	#content .package_tabmenu .area .rent_area .car_list ul li p:nth-child(5) span:nth-child(2){color:#b0b0b0;text-decoration:line-through;position:absolute;right:18px;bottom:-56px;font-size:13px}
	#content .package_tabmenu .area .rent_area .car_list ul li p:nth-child(5) span:nth-child(3){color:#000;font-weight:bold;font-size:19px;position:absolute;right:18px;bottom:-83px}
	#content .package_tabmenu .area .rent_area .car_list ul li p img{margin-top:3px;width:260px;height:173px;position:relative;left:-67px;top:0px;display:inline-block;padding-bottom:10px;border-bottom:1px solid #d7d7d7}
	#content .package_tabmenu .area .rent_area .car_list ul li:nth-child(4n){margin-right:0px;}
    
    #content .package_tabmenu .area .lodge_area .lodge_search {width:1200px;margin:0 auto;border-bottom:1px solid #dfdfdf}
    #content .package_tabmenu .area .lodge_area .lodge_search select.sel{width:153px;line-height:29px;height:29px;vertical-align: middle;
        border:1px solid #d6d9e0;color:#4f576c;font-size:12px;margin-bottom:5px;padding-left:12px;margin-left:10px;
        margin-right:33px;
         background:url(../sub_img/down_arrow.png) no-repeat 95% 50%;
	     -webkit-appearance: none; 
	     -moz-appearance: none; appearance: none; }
    select::-ms-expand { display: none; }
    
    #content .package_tabmenu .area .lodge_area .lodge_search p{font-weight:bold;font-size:16px;margin-left:24px;position:relative;top:-7px}
    #content .package_tabmenu .area .lodge_area .lodge_search img{position:relative;left:15px;top:20px}
    #content .package_tabmenu .area .lodge_area .lodge_search input[type="text"]{width:153px;height:25px;border:1px solid #d6d9e0;position:relative;top:-2px;margin-left:10px;}
    #content .package_tabmenu .area .lodge_area .lodge_list{width:1200px;margin:40px auto;overflow-x:hidden}
	#content .package_tabmenu .area .lodge_area .lodge_list ul {float:left}
	#content .package_tabmenu .area .lodge_area .lodge_list ul li{float:left;box-sizng: border-box;width:283px;height:375px;margin-right:20px;margin-bottom:20px;border:1px solid #cfcfcf;}
    #content .package_tabmenu .area .lodge_area .lodge_list ul li:hover{box-sizng: border-box;width:281px;height:373px;border:2px solid #5583e8;}
	#content .package_tabmenu .area .lodge_area .lodge_list ul li p{text-align:center}
	#content .package_tabmenu .area .lodge_area .lodge_list ul li p:nth-child(2){font-size:14px;font-weight:bold;margin-top:22px;font-family:"돋움",Dotum}
	#content .package_tabmenu .area .lodge_area .lodge_list ul li p:nth-child(3){font-size:12px;color:#666666;margin-top:10px;font-family:"돋움",Dotum}
	#content .package_tabmenu .area .lodge_area .lodge_list ul li p:nth-child(4){font-size:12px;color:#16b1eb;margin-top:10px;font-family:"돋움",Dotum}
	#content .package_tabmenu .area .lodge_area .lodge_list ul li p:nth-child(5) {position:relative}
	#content .package_tabmenu .area .lodge_area .lodge_list ul li p:nth-child(5) span:nth-child(1){color:#ff5722;font-weight:bold;font-size:40px;position:absolute;left:16px;bottom:-63px}
	#content .package_tabmenu .area .lodge_area .lodge_list ul li p:nth-child(5) span:nth-child(2){color:#b0b0b0;text-decoration:line-through;position:absolute;right:18px;bottom:-44px;font-size:13px}
	#content .package_tabmenu .area .lodge_area .lodge_list ul li p:nth-child(5) span:nth-child(3){color:#000;font-weight:bold;font-size:19px;position:absolute;right:16px;bottom:-67px}
	#content .package_tabmenu .area .lodge_area .lodge_list ul li p img{position:relative;left:-71px;top:0px;display:inline-block;padding-bottom:10px;padding-top:10px;border-bottom:1px solid #d7d7d7}
	#content .package_tabmenu .area .lodge_area .lodge_list ul li:nth-child(4n){margin-right:0px;}


    #content .package_tabmenu .area .bus_area:after{content:"";display:block;clear: both}
    #content .package_tabmenu .area .bus_area div.bus_pkg_txt{margin-top:22px}
    #content .package_tabmenu .area .bus_area .bus_search{width:1200px;height:80px;background-color:#f6fafe;}
    #content .package_tabmenu .area .bus_area .bus_search span{display: inline-block;color:#000;font-size:15px;margin-left:20px;margin-top:32px}
    #content .package_tabmenu .area .bus_area .bus_search input[type="text"]{width:147px;height:29px;border:1px solid #c8c8c8;padding-left:12px;vertical-align:middle;}
    #content .package_tabmenu .area .bus_area .bus_search .btn{position:relative;left:408px;top:18px}
    #content .package_tabmenu .area .bus_area .bus_search select.lsel{width:64px;line-height:33px;height:33px;vertical-align: middle;
        border:1px solid #d6d9e0;color:#565656;font-size:13px;margin-top:5px;margin-bottom:5px;padding-left:12px;position:relative;left:-33px;
        background: #fff url(../sub_img/down_arrow.png) no-repeat 90% 50%;
        -webkit-appearance: none;
        -moz-appearance: none; appearance: none; }
    select::-ms-expand { display: none; }
    #content .package_tabmenu .area .bus_area .bus_search select.lsel2{width:64px;line-height:33px;height:33px;vertical-align: middle;
        border:1px solid #d6d9e0;color:#565656;font-size:13px;margin-top:5px;margin-bottom:5px;padding-left:12px;position:relative;left:372px;
        background: #fff url(../sub_img/down_arrow.png) no-repeat 90% 50%;
        -webkit-appearance: none;
        -moz-appearance: none; appearance: none; }
    select::-ms-expand { display: none; }
    #content .package_tabmenu .area .bus_area .bus_search span.bar{position:relative;left:-35px}
    #content .package_tabmenu .area .bus_area .bus_search .car_cnt{position:relative;left:368px}
    #content .package_tabmenu .area .bus_area div:nth-child(3) ul.pkg{float:left;margin-top:20px}
    #content .package_tabmenu .area .bus_area div:nth-child(3) ul.pkg:after{content:"";display:block;clear: both}
    #content .package_tabmenu .area .bus_area div:nth-child(3) ul.pkg li{float:left;width:280px;height:364px;margin-right:13px;margin-bottom:10px;border:1px solid #cfcfcf}
    #content .package_tabmenu .area .bus_area div:nth-child(3) ul.pkg li:hover{border:2px solid #5583e8;width:278px;height:362px;}
    #content .package_tabmenu .area .bus_area div:nth-child(3) ul.pkg li:nth-child(4n){margin-right:0px;}
    #content .package_tabmenu .area .bus_area div:nth-child(3) ul.pkg li img{text-align: center}
    #content .package_tabmenu .area .bus_area div:nth-child(3) ul.pkg li p.name{color:#242424;text-align:center;font-size:14px;font-weight: bold;font-family:'돋움',dotum;margin-top:12px}
    #content .package_tabmenu .area .bus_area div:nth-child(3) ul.pkg li p.txt{color:#989898;text-align:center;font-size:12px;font-family:'돋움',dotum;margin-top:12px}
    #content .package_tabmenu .area .bus_area div:nth-child(3) ul.pkg li p.price{color:#ff5722;text-align:center;font-size:25px;font-weight:bold;margin-top:22px}
    #content .package_tabmenu .area .bus_area div:nth-child(3) ul.pkg li p {text-align: center;margin-top:10px}

    #content .package_tabmenu .area .golf_area .golf_search{width:1200px;border-top:3px solid #5683e8;border-left:1px solid #d7d7d7;border-right:1px solid #d7d7d7;margin:0 auto;overflow-x:hidden}
    #content .package_tabmenu .area .golf_area  .golf_search:after{content:"";display:block;clear:both}
    #content .package_tabmenu .area .golf_area  .golf_search p.tit{width:1178px;border-bottom:1px solid #dfdfdf;height:67px;margin: 0 auto;color:#000;font-size:16px   }
    #content .package_tabmenu .area .golf_area  .golf_search .tit span{padding-left:7px}
    #content .package_tabmenu .area .golf_area  .golf_search p input[type='text']{width:147px;height:30px;border:1px solid #c8c8c8;padding-left:12px;color:#7d7d7d;font-size:13px}
    #content .package_tabmenu .area .golf_area  .golf_search p select.lsel{width:72px;line-height:33px;height:33px;vertical-align: middle;
        border:1px solid #c8c8c8;color:#16b1eb;font-size:13px;margin-top:5px;margin-bottom:5px;padding-left:12px;margin-left:12px;margin-right:50px;
        background:url(../sub_img/down_arrow.png) no-repeat 90% 50%;
        -webkit-appearance: none;
        -moz-appearance: none; appearance: none; }
    select::-ms-expand { display: none; }
    #content .package_tabmenu .area .golf_area  .golf_search p select.csel{width:93px;line-height:33px;height:33px;vertical-align: middle;
        border:1px solid #d6d9e0;color:#7e7e7e;font-size:13px;margin-top:5px;margin-bottom:5px;padding-left:12px;margin-right:56px;
        background:url(../sub_img/down_arrow.png) no-repeat 90% 50%;
        -webkit-appearance: none;
        -moz-appearance: none; appearance: none; }
    select::-ms-expand { display: none; }
    #content .package_tabmenu .area .golf_area  .golf_search p img{position:relative;top:3px;left:-21px}
    #content .package_tabmenu .area .golf_area  .golf_search input[type='image']{position:relative;top:14px;}

    #content .package_tabmenu .area .golf_area  .golf_date{width:1200px;border-bottom:1px solid #d7d7d7;margin:0 auto}
    #content .package_tabmenu .area .golf_area  .golf_date p{padding-left:27px;margin-top:22px;margin-bottom:18px}
    #content .package_tabmenu .area .golf_area  .golf_date p img{vertical-align:middle;display:inline-block;margin-left:34px}
    #content .package_tabmenu .area .golf_area  .golf_date p span{color:#000;font-size:14px;}
    #content .package_tabmenu .area .golf_area  .golf_date p input[type='text']{border:1px solid #d6d9e0;width:103px;height:29px;padding-left:12px;font-weight: bold; color:#565656}
    #content .package_tabmenu .area .golf_area  .golf_date p span.com{display:inline-block;color:#7e7e7e;padding-left:0px;padding-right:7px}
    #content .package_tabmenu .area .golf_area  .golf_date p select.lsel{width:142px;line-height:33px;height:33px;vertical-align: middle;
        border:1px solid #d6d9e0;color:#565656;font-size:13px;margin-top:5px;margin-bottom:5px;padding-left:12px;margin-left:-2px;
        background:url(../sub_img/down_arrow.png) no-repeat 90% 50%;
        -webkit-appearance: none;
        -moz-appearance: none; appearance: none; }
    select::-ms-expand { display: none; }
    #content .package_tabmenu .area .golf_area  .golf_date p select.ssel{width:48px;line-height:33px;height:33px;vertical-align: middle;
        border:1px solid #d6d9e0;color:#565656;font-size:13px;margin-top:5px;margin-bottom:5px;padding-left:12px;margin-left:3px;
        background:url(../sub_img/down_arrow.png) no-repeat 90% 50%;
        -webkit-appearance: none;
        -moz-appearance: none; appearance: none; }
    select::-ms-expand { display: none; }
    #content .package_tabmenu .area .golf_area  .golf_date p select.hsel{width:47px;line-height:33px;height:33px;vertical-align: middle;
        border:1px solid #d6d9e0;color:#565656;font-size:13px;margin-top:5px;margin-bottom:5px;padding-left:4px;margin-left:-3px;position:relative;left:-50px;
        background:url(../sub_img/down_arrow.png) no-repeat 90% 50%;
        -webkit-appearance: none;
        -moz-appearance: none; appearance: none; }
    select::-ms-expand { display: none; }
    #content .package_tabmenu .area .golf_area  .golf_date p select.msel{width:78px;line-height:33px;height:33px;vertical-align: middle;
        border:1px solid #d6d9e0;color:#565656;font-size:13px;margin-top:5px;margin-bottom:5px;padding-left:12px;margin-left:3px;
        background:url(../sub_img/down_arrow.png) no-repeat 90% 50%;
        -webkit-appearance: none;
        -moz-appearance: none; appearance: none; }
    select::-ms-expand { display: none; }
    #content .package_tabmenu .area .golf_area  .golf_date p select.wsel{width:78px;line-height:33px;height:33px;vertical-align: middle;
        border:1px solid #d6d9e0;color:#565656;font-size:13px;margin-top:5px;margin-bottom:5px;padding-left:12px;margin-left:12px;position:relative;left:-50px;
        background:url(../sub_img/down_arrow.png) no-repeat 95% 50%;
        -webkit-appearance: none;
        -moz-appearance: none; appearance: none; }
    select::-ms-expand { display: none; }
    #content .package_tabmenu .area .golf_area  .golf_date p button{background-color:#ff9518;width:125px;height:26px;text-align:center;color:#fff;border:0px;cursor:pointer;position:relative;left:-35px;top:2px;}

    #content .package_tabmenu .area .golf_area  .golf_list{width:1200px;margin:30px auto}
    #content .package_tabmenu .area .golf_area  .golf_list:after{content:"";display:block;clear:both}
    #content .package_tabmenu .area .golf_area  .golf_list ul{float:left;width:1200px;}
    #content .package_tabmenu .area .golf_area  .golf_list ul li{float:left;width:278px;height:316px;border:1px solid #cfcfcf;margin-right:26px;margin-bottom:20px}
    #content .package_tabmenu .area .golf_area  .golf_list ul li:nth-child(4n){margin-right:0px}
    #content .package_tabmenu .area .golf_area  .golf_list ul li:hover{float:left;width:276px;height:313px;border:2px solid #779ced;}
    #content .package_tabmenu .area .golf_area  .golf_list ul li img{padding:10px}
    #content .package_tabmenu .area .golf_area  .golf_list ul li p.tit{color:#242424;font-size:14px;font-family:'돋움',dotum;text-align:center;margin-top:20px;margin-bottom:15px;font-weight:bold}
    #content .package_tabmenu .area .golf_area  .golf_list ul li p.wprice, .golf_list ul li p.hprice{text-align:center;margin-bottom:8px}
    #content .package_tabmenu .area .golf_area  .golf_list ul li p.wprice span:nth-child(1){color:#666666;font-size:12px;font-family:'돋움',dotum;padding-right:5px}
    #content .package_tabmenu .area .golf_area  .golf_list ul li p.wprice span:nth-child(2){color:#16b1eb;font-size:14px;font-family:'돋움',dotum;}
    #content .package_tabmenu .area .golf_area  .golf_list ul li p.hprice span:nth-child(1){color:#666666;font-size:12px;font-family:'돋움',dotum;padding-right:5px}
    #content .package_tabmenu .area .golf_area  .golf_list ul li p.hprice span:nth-child(2){color:#ff5722;font-size:14px;font-family:'돋움',dotum;}


    #cmodal .cbasic {position:relative;left:-74px;top:0px}
    #golf_layer{position:fixed;width:1300px;background-color:#f6f9fe;margin:0 auto;top:50px;left:300px;}
    #golf_layer .content{width:1230px;border:4px solid #4a78cd;margin:0 auto;background-color:#fff;}
    #golf_layer .content:after{content:"";display:block;clear:both}
    #golf_layer .lcon{width:700px;height:800px;float:left;overflow-y: scroll}
    #golf_layer .lcon:after{content:"";display:block;clear: both;}
    #golf_layer .lcon h1{padding-left:10px;padding-top:10px;font-size:22px;color:#000}
    #golf_layer .lcon h1 img{vertical-align:middle;padding-right:15px}
    #golf_layer .lcon ul{float:left;padding-top:5px;margin-left:10px}
    #golf_layer .lcon ul li{float:left;text-align: center;margin-right:5px;margin-bottom:10px}
    #golf_layer .lcon ul li p.tit {color:#242424;font-family:'돋움',dotum;font-size:14px;font-weight: bold;margin-top:10px;margin-bottom:15px}
    #golf_layer .lcon ul li p.day{margin-bottom:8px}
    #golf_layer .lcon ul li p.day span:nth-child(1){color:#666;font-family:'돋움',dotum;font-size:12px;}
    #golf_layer .lcon ul li p.day span:nth-child(2){color:#16b1eb;font-family:'돋움',dotum;font-size:14px;font-weight:bold}
    #golf_layer .lcon ul li p.week span:nth-child(1){color:#666;font-family:'돋움',dotum;font-size:12px;}
    #golf_layer .lcon ul li p.week span:nth-child(2){color:#ff5722;font-family:'돋움',dotum;font-size:14px;font-weight:bold}

    #golf_layer .rcon{width:510px;height:800px;margin-top:5px;position:relative;left:15px;overflow-y: scroll;}
    #golf_layer .rcon .thumb{float:left;width:100%;margin-bottom:40px}
    #golf_layer .rcon .thumb li{float:left;margin-right:6px;margin-top:6px}
    #golf_layer .rcon h2{width:482px;height:46px;line-height:46px;background-color:#7293ca;color:#fff;font-size:22px;padding-left:10px;clear:both}
    #golf_layer .rcon table {width:492px;margin-bottom:44px}
    #golf_layer .rcon table th{background-color:#e8eef1;color:#000;font-size:16px;height:46px;line-height:46px;border-bottom:1px solid #dfdfdf;border-top:1px solid #fff}
    #golf_layer .rcon table td{background-color:#fff;color:#000;font-size:16px;height:53px;line-height:53px; text-align:center;position:relative;border-bottom:1px solid #dfdfdf}
    #golf_layer .rcon table td img{vertical-align:middle}
    #golf_layer .rcon table td span.txt{color:#666;font-size:12px;font-family:'돋움',dotum}
    #golf_layer .rcon table td span.br{position:absolute;top:17px;left:38px}
    #golf_layer .rcon table td span.gname{color:#666;font-size:12px;font-weight:bold;font-family:'돋움',dotum}
    #golf_layer .rcon table td span.price{color:#ff5000;font-size:12px;font-family:'돋움',dotum}
    #golf_layer .rcon table td.txt{background-color:#f4f4f4;padding-left:10px;padding-top:20px;padding-bottom:20px}
    #golf_layer .rcon table td p.txt{text-align:left; color:#e31c62;font-size:12px;line-height:25px;font-family:'돋움',dotum}
    #golf_layer .rcon table th p.txt2{text-align:left; color:#666666;font-size:12px;line-height:25px;font-family:'돋움',dotum;padding-left:10px;padding-top:20px;padding-bottom:20px}
    
    