<style type="text/css" media="screen">
/*레이어 팝업*/
   #pop{
    width:100%; 
    min-height: 400px; 
    background:#FFF; 
    color:#3d3d3d; 
    position:absolute; 
    top:0; 
    left:0; 
   }
 
   #close{
    width:100%;
    height: 85px; 
    margin:auto;
    cursor:pointer; 
    font-weight:bold;
    background-color: #4a78cd;
    font-family: NanumGothic;
  	font-size:40px;
  	font-weight: bold;
  	font-style: normal;
  	font-stretch: normal;
  	letter-spacing: normal;
  	text-align: left;
  	color: #ffffff;
   }
   .pop-tel-name {
   	padding-left: 20px;
   }
   
   .pop-tel-close {
   	display: inline-block;
   	vertical-align: middle;
	   margin-top: -50px;
  	margin-left: 93%;
   	width: 50px;
   	height: 50px;
   	background : url('../images/pop_close.png');
   }


	.pop-tel-info {
	width: 100%;
	margin-top: 20px;
	}
	.pop-tel-info table{
	width: 100%;
	}
	.pop-tel-info td{
	border-top : 1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
	height: 90px;
	}

	.pop-tel-info td.pop-tel-add {
	  font-family: NanumGothic;
	  font-size: 28px;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 90px;
	  letter-spacing: normal;
	  text-align: left;
	  color: #666666;
	  padding-left: 20px;
	}

	.pop-tel-weekend {
		color: #ec2776;
		 font-weight: 600;

	}
	.pop-tel-info td.pop-tel-facilities {
	  font-family: NanumGothic;
	  font-size: 28px;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 40px;
	  letter-spacing: normal;
	  text-align: left;
	  color: #666666;
	   padding-left: 20px;
	}

	.pop-room-info {
		width: 100%;
		margin-top: 40px;
	}

	.container{
		width:100%;
		margin: 0 auto;
	}

	ul.tabs{
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
	ul.tabs li{
		background: none;
		color: #fff;
		display: inline-block;
		padding: 10px 15px;
		cursor: pointer;
		background: #6b6b6b;
		height:50px;
		width: 200px;
		line-height: 50px;
		font-size: 35px;
		text-align: center;
	}

	ul.tabs li.tab-link{
		background: none;
		color: #fff;
		display: inline-block;
		padding: 10px 15px;
		cursor: pointer;
		background: #6b6b6b;
		height:70px;
		width: 200px;
		line-height: 50px;
		font-size: 35px;
		text-align: center;
	}


	ul.tabs li.current{
		background: #fff;
		color: #222;
		border-top: 1px solid #6b6b6b;
		border-right: 1px solid #6b6b6b;
		height: auto;
	}

	.tab-content{
		display: none;
		background: #fff;
		padding: 15px;
		height: auto;
	}

	.tab-content.current{
		display: inherit;
		background: #fff;
		border-top: 1px solid #6b6b6b;
	}

	.room-info {
		width: 100%;
		height: auto;
	}

	.room-info table {
		width: 100%;
		height: auto;
	}

	.room-info td {
		width: 100%;
		height: 80px;
		border-bottom : 1px solid #6b6b6b;
	}

	.room-info .room-photo {
		width: 100%;
		height: 600px;
		position: relative;

	}

	.room-info .room-photo .main-room-img{
		width: 75%;
		height: 600px;
		background : url('../images/package/room_main.gif') ;
		background-size : cover;
		
	}

	.room-info .room-photo .sub-room-img{
		position: absolute;
		top :0;
		right: 0;
		width: 23%;
		height: 600px;
	}

	


	.room-info td.room-neme  {
	  font-family: NanumGothic;
	  font-size: 35px;
	  font-weight: bold;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 80px;
	  letter-spacing: normal;
	  text-align: left;
	  color: #000000;
	}

	.room-info td.room-text  {
	  font-family: NanumGothic;
	  font-size: 28px;
	  font-weight: 400;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 80px;
	  letter-spacing: normal;
	  text-align: left;
	  color: #666666;
	}

	.room-info td.room-sub-info  {
	  font-family: NanumGothic;
	  font-size: 28px;
	  font-weight: 500;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 80px;
	  letter-spacing: normal;
	  text-align: left;
	  color: #e20181;
	}	

	.room-info td.room-price {
	  width: 15%;
	  font-family: NanumGothic;
	  font-size: 35px;
	  font-weight: bold;
	  font-style: normal;
	  font-stretch: normal;
	  height: 100px;
	  line-height: 100px;
	  letter-spacing: normal;
	  text-align: center;
	  color: #ff5000;
	 
	}

	.room-info td.room-stay {
	  width: 10%;
	  font-family: NanumGothic;
	  font-size: 35px;
	  font-weight: bold;
	  font-style: normal;
	  font-stretch: normal;
	  height: 100px;
	  line-height: 100px;
	  letter-spacing: normal;
	  text-align: center;
	  color: #e20181;
	 
	}
	.room-info td.room-num {
	  width: 20%;
	  vertical-align: middle;
	 
	}
	.room-info td.room-num select{
	  width: 200px;
	  font-family: NanumGothic;
	  font-size: 30px;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  height: 70px;
	  letter-spacing: normal;
	  text-align: center;
	  color: #000000;
	  background-color: #f5f5f5;
 	  border: solid 1px #d0d0d0;
 	  vertical-align: middle;
	}
	
	.room-info td.room-num select option{
	  width: 100%;
	  font-family: NanumGothic;
	  font-size: 15px;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  height: 60px;
	  line-height: 100px;
	  letter-spacing: normal;
	  text-align: center;
	  color: #000000;
	  background-color: #f5f5f5;
 	  
	}	
	.room-info td.room-select {
	  width: 8%;
	  font-family: NanumGothic;
	  font-size: 11.5px;
	  font-weight: bold;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.17;
	  letter-spacing: normal;
	  text-align: left;
	  color: #ff5000;
	 
	}
	.room-info td.room-select .select-button-right {
	  display: block;
	  width: 150px;
	  height: 80px;
	  border-radius: 1.2px;
	  background-color: #ffffff;
	  border: solid 1px #b9b9b9;
	  font-family: NanumGothic;
	  font-size: 30px;
	  font-weight: bold;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 80px;
	  letter-spacing: normal;
	  text-align: center;
	  color: #ff4e00;
	  margin : 20px auto;
	}

	.room-info hr {
		margin-top : 30px;
		margin-bottom:30px;
		border : 5px solid  #BDBDBD;
	}

/*상세정보*/
	.tel-sub-info {
		width: 100%;
		height: auto;		
	}

	.tel-sub-info table{
		width: 100%;
		height: auto;		
	}

	.tel-sub-info td{
		height: auto;	
	}

	.tel-sub-info td.tel-sub-info-title{
		font-family: NanumGothic;
		font-size: 30px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 100px;
		letter-spacing: normal;
		text-align: left;
		color: #e20181;	
	}

	.tel-sub-info td div.tel-sub-info-text{
		width: 80%;
		height: auto;	
		font-family: NanumGothic;
		font-size: 25px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 60px;
		letter-spacing: normal;
		text-align: left;
		color: #666666;	
	}


</style>
